<script>
    document.getElementById('body').className = 'skin-purple sidebar-mini sidebar-collapse';
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Lista de Alunos</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/admin/alunos">Alunos</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/alunos/create" class="btn btn-success">Cadastrar Aluno</a>
                        <a href="/admin/alunos/inativos" class="btn btn-warning">Inativos</a>
                    </div>

                    <div class="box-body table-responsive">

                        {if="$errorRegister != ''"}
                        <div class="alert alert-danger">
                            {$errorRegister}
                        </div>
                        {/if}

                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#lista" data-toggle="tab">Alunos</a></li>
                                <li onclick="dados('pessoal')"><a href="#pessoal" data-toggle="tab">Dados Pessoais</a></li>
                                <li onclick="dados('academico')"><a href="#academico" data-toggle="tab">Acadêmico</a></li>
                                <li onclick="dados('financeiro')"><a href="#financeiro" data-toggle="tab">Financeiro</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="lista">
                                <table class="table table-bordered table-striped" id="table" style="font-size: 90%">
                                    <thead>
                                    <tr>
                                        <th style="width: 5px">#</th>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>CPF</th>
                                        <th>Cadastro</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {$sum = 1}
                                    {loop="$voUsuario"}
                                    {$PessoaFisicaId = $value.PessoaFisicaId}
                                    <tr>
                                        <td><input type="radio" value="{$PessoaFisicaId}" name="fAlunoId"></td>
                                        <td>{$value.PessoaNome}</td>
                                        <td>{$value.Email}</td>
                                        <td>{function="maskCpf($value.Cpf)"}</td>
                                        <td>{$value.UserCadastro}</td>
                                        <td style="white-space: nowrap">

                                            <a data-toggle="modal" data-target="#inscricao" data-pessoa-fisica="{$PessoaFisicaId}"><button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Nova Inscrição"><i class="fa fa-mortar-board"></i></button></a>

                                            <a href="/admin/alunos/{$PessoaFisicaId}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>

                                            {if="$value.UserAtivo == 1"}

                                            <a href="/admin/users/{$value.UserId}/lock" onclick="return confirm('Deseja realmente DESATIVAR este registro?')" class="btn btn-warning btn-xs"><i class="fa fa-lock" data-toggle="tooltip" data-placement="top" title="Desativar"></i></a>
                                            {else}

                                            <a href="/admin/users/{$value.UserId}/unlock" onclick="return confirm('Deseja realmente ATIVAR este registro?')" class="btn btn-warning btn-xs"><i class="fa fa-unlock" data-toggle="tooltip" data-placement="top" title="Ativar"></i></a>

                                            {/if}
                                        </td>
                                    </tr>
                                    {/loop}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="pessoal">
                                Selecione o aluno!
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="academico">
                                Selecione o aluno!
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="financeiro">
                                Selecione o aluno!
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Matrícula -->
<div class="modal fade" id="inscricao">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="formMatricula" action="/admin/alunos/inscricao" method="post">

                <div class="modal-header">
                    <h4 class="modal-title">Nova Inscricao</h4>
                </div>

                <div class="modal-body">

                    <input type="hidden" class="form-control" id="PessoaFisicaId" name="PessoaFisicaId" value="">

                    <div class="form-group row">

                        <div class="col-md-12">
                            <label class="form-control-label" for="Categoria">Categoria<span class="text-danger ml-2">*</span></label>
                            <select class="form-control" name="Categoria" id="Categoria">
                                <option value="">Selecione...</option>
                                <option value="E">Estudante</option>
                                <option value="P">Profissional</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-12">
                            <label class="form-control-label" for="Area">Área de atuação<span class="text-danger ml-2">*</span></label>
                            <input type="text" class="form-control" id="Area" name="Area" placeholder="Digite a área de atuação">
                        </div>

                    </div>

                    <div class="form-group row">

                        <label for="EventoId" class="control-label col-md-3">Evento</label>
                        <div class="col-md-12">
                            <select class="form-control select2" name="EventoId" id="EventoId" style="width: 100%" required>
                                <option value="">Selecione..</option>
                                {loop="$voEvento"}
                                <option value="{$value.evento_id}">{$value.tema}</option>
                                {/loop}
                            </select>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <input type="submit" class="btn btn-primary" value="Salvar">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                </div>

            </form>
        </div>
    </div>
</div>

{include="script"}

<script>

    function dados(sTab){

        let nAlunoId = $("input[name='fAlunoId']:checked",0,0).val();

        if (nAlunoId)
            recuperaConteudoDinamico('/admin/aluno/'+sTab,nAlunoId,sTab);
        else
            alert("Selecione o aluno");
        return false;

    }

    function modalDisciplinas(){
        $('#modalDisciplinas',0,0).on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget,0,0);
            let nMatriculaTurmaId = button.data('matricula-turma-id');
            let nMatriculaId = button.data('matricula-id');
            let modal = $(this,0,0);
            modal.find('#MatriculaTurmaId').val(nMatriculaTurmaId);
            modal.find('#MatriculaId').val(nMatriculaId);
        })
    }

    function deletarMatriculaDisciplina(nMatriculaId, nMatriculaDisciplinaId) {

        let bConfirm = confirm('Deseja realmente excluir este registro?');

        if (bConfirm){
            recuperaConteudoDinamico('/admin/aluno/matricula/disciplina/' + nMatriculaId + '/' + nMatriculaDisciplinaId,'delete','divMsg');
            reload();
        } else {
            return false;
        }


    }

    function reload(){
        let div = document.getElementById('tableDisciplinas');

        $(div,0,0).html('Carregando...');

        let nAlunoId = $("input[name='fAlunoId']:checked",0,0).val();
        let sTab = 'academico';

        if (nAlunoId)
            recuperaConteudoDinamico('/admin/aluno/'+sTab,nAlunoId,sTab);

    }


    $('#inscricao').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let nPessoaFisica = button.data('pessoa-fisica');
        let modal = $(this);
        modal.find('#PessoaFisicaId').val(nPessoaFisica);
    })
</script>