<div class="container-fluid">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Artigos</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin"><i class="ti ti-home"></i></a></li>
                        <li class="breadcrumb-item">Artigos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Row -->
    <div class="row flex-row">
        <div class="col-xl-12 col-12">
            <div class="widget has-shadow">

                <div class="widget-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            {$sum=1}

                            {loop="$voArtigos"}

                            <tr>
                                <td>{$sum}{$sum +=1}</td>
                                <td>{function="mask_nome($value.Nome)"} {function="mask_sobrenome($value.Nome)"}</td>
                                <td>{function="maskcpf($value.Cpf)"}</td>
                                <td>{$value.Email}</td>
                                <td><a href="/{$value.ArtigoUrl}" target="_blank" class="btn btn-success">Abrir Arquivo</a></td>
                            </tr>

                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
</div>

