<!-- Content Wrapper. Contains page content -->
<!--suppress HtmlUnknownTarget -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Categorias</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="">Categorias</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <div class="col-md-12">
                {if="$vError.sMsg != ''"}
                <div class="alert alert-{$vError.sClass}">
                    {$vError.sMsg}
                </div>
                {/if}
            </div>

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h2 class="box-title">Lista de Categorias</h2>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>Cadastro</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {$sum = 1}
                            {loop="$voCategoria"}
                            <tr>
                                <td>{$sum}{$sum += 1}</td>
                                <td>{$value.cat_descricao}</td>
                                <td style="white-space: nowrap">
                                    <button class="btn btn-primary btn-sm" data-id="{$value.cat_id}" data-descricao="{$value.cat_descricao}" onclick="showEditar(this)"><i class="fa fa-edit"></i></button>
                                    <a href="/admin/categoria/{$value.cat_id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">


                <div class="box box-primary">
                    <form class="form form-horizontal" id="form" action="/admin/categorias/create" method="post">
                        <div class="box-header with-border">
                            <h2 class="box-title" id="Title">Cadastrar Categoria</h2>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                <input type="hidden" name="CatId" id="CatId" value="">

                                <div class="col-md-12">
                                    <label class="control-label" for="CatDescricao">Nome</label>
                                    <input type="text" class="form-control" id="CatDescricao" name="CatDescricao" placeholder="Digite o nome">
                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success" id="btnSubmit">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}

<script>

    function showEditar(oCategoria){

        $("#CatId").val(oCategoria.getAttribute("data-id"));
        $("#CatDescricao").val(oCategoria.getAttribute("data-descricao"));

        $("#form",0,0).attr("action","/admin/categoria/update");
        $("#btnSubmit",0,0).text("Editar").removeClass("btn-success").addClass("btn-primary");
        $("#Title",0,0).text("Editar Categoria");

    }

</script>