{if="$voEvento"}
<table class="table table-striped" id="tableSubEvento">
    <thead>
    <tr>
        <th style="width: 10px">#</th>
        <th>Nome</th>
        <th>Início</th>
        <th>Término</th>
        <th>Categoria</th>
        <th>Inscritos</th>
        <th style="white-space: nowrap"></th>
    </tr>
    </thead>
    <tbody>
    {$sum = 1}
    {loop="$voEvento"}
    {if="$value.Inscritos > 0"}
    {$sDisabled = "disabled"}
    {else}
    {$sDisabled = ""}
    {/if}
    <tr>
        <td>{$sum}{$sum += 1}</td>
        <td>{$value.EveNome}</td>
        <td style="white-space: nowrap">{function="maskInvData($value.EveInicio,true)"}</td>
        <td style="white-space: nowrap">{function="maskInvData($value.EveFim,true)"}</td>
        <td style="white-space: nowrap">{$value.CatDescricao}</td>
        <td>{$value.Inscritos}</td>
        <td style="white-space: nowrap">
            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalInscricao" data-id="{$value.EveId}" data-nome="{$value.EveNome}"><i class="fa fa-users" data-toggle="tooltip" data-placement="top" title="Visualizar Inscritos"></i></button>

            {if="$subEvento"}
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalSubEvento" data-id-pai="{$value.EveId}" data-nome="{$value.EveNome}" data-sop="Cadastrar"><i class="fa fa-calendar-week" data-toggle="tooltip" data-placement="top" title="Subeventos"></i></button>
            {/if}

            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalEvento" data-sop="Alterar" data-id="{$value.EveId}" data-nome="{$value.EveNome}"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i></button>

            <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="modalConfirm('{$value.EveId}')" {$sDisabled}><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>
{else}
<div class="alert alert-warning">Não existem eventos vinculados!</div>
{/if}

<script>

    $(document).ready(function() {
        var table = $('#tableSubEvento').DataTable( {
            dom: 'Bfrtip',
            "columns": [
                null,
                null,
                { "type": "date-euro" },
                { "type": "date-euro" },
                null,
                null,
                null
            ],
            search: {
                "smart": true
            },
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'btn-default',
                    title: 'Lista de Eventos',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [ 0, 1, 2, 3, 4, 5 ]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Eventos',
                    exportOptions: {
                        columns: [ 0, 1, 2, 3, 4, 5 ]
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)',
                    text: 'Colunas'
                },
                'pageLength'
            ],
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 registros', '25 registros', '50 registros', 'Mostrar todos' ],
            ],
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                "decimal": ",",
                "thousands": "."
            }
        });
        table
            .order( [ 2, 'desc' ] )
            .draw();
    } );

</script>