<!-- Content Wrapper. Contains page content -->
<!--suppress HtmlUnknownTarget -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Lista de Eventos</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="">Eventos</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                {if="$vError.sMsg != ''"}
                <div class="alert alert-{$vError.sClass}">
                    {$vError.sMsg}
                </div>
                {/if}

                <div class="box box-primary">

                    <div class="box-header">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEvento" data-sop="Cadastrar"><i class="fa fa-plus"></i> Cadastrar</button>
                    </div>

                    <div class="box-body" id="divEventos"></div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- /.Modal Lista SubEvento -->
<div class="modal fade" id="modalSubEvento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleSubEvento"></h4>
            </div>

            <div class="box-body" id="bodySubEvento"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Modal Lista Inscrições -->
<div class="modal fade" id="modalInscricao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleInsc"></h4>
                <div class="alert alert-success" id="divMensagem" style="display: none"></div>
            </div>

            <div class="modal-body" id="bodyInsc"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Modal Form Evento -->
<div class="modal fade" id="modalEvento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div id="modalForm"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Modal Form Inscrição -->
<div class="modal fade" id="modalFormInscricao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form form-horizontal" role="form" action="/admin/evento/inscricao/update" method="post" id="formInscricao"></form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Editar Pagamento -->
<div class="modal fade" id="modalPagamento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pagamento</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">fechar</span>
                </button>
            </div>
            <div class="modal-body">

                <form role="form" id="formPgto" action="/admin/eventos/inscricao/pagamento" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="EviId" id="EviId" value="">
                        <input type="hidden" name="EveId" id="EveId" value="">

                        <div class="form-group row">


                            <div class="col-md-6">
                                <label class="control-label" for="PgoData">Data</label>
                                <input type="text" class="form-control" id="PgoData" name="PgoData" value="" onkeyup="FormataData(this,event)" placeholder="Data">
                            </div>

                            <div class="col-md-6">
                                <label for="PgoValor" class="control-label col-md-4">Valor</label>
                                <input type="text" class="form-control" id="PgoValor" name="PgoValor" onkeyup="FormataMoney(this);" placeholder="Valor">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-md-6">
                                <label for="FpgId" class="control-label">Pago em</label>
                                <select name="FpgId" id="FpgId" class="form-control select2" style="width: 100%" required>
                                    {loop="$voFormaPgto"}
                                    <option value="{$value.fpg_id}">{$value.fpg_descricao}</option>
                                    {/loop}
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="PgoObs" class="control-label col-md-1">Obs</label>
                                <textarea class="form-control redactor" id="PgoObs" name="PgoObs"></textarea>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Salvar" name="Editar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{include="script"}

<script>

    window.onload = function () {
        $('#divEventos').load("/admin/evento/lista");
    };

    $('#modalInscricao',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let nEveId = button.data("id");
        let sEveNome = button.data("nome");
        let modal = $(this,0,0);
        modal.find("#bodyInsc").html("<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>");
        modal.find("#bodyInsc").load("/admin/evento/inscricoes/" + nEveId);
        modal.find("#titleInsc").text(sEveNome);
    });

    $('#modalEvento',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let nEveId = button.data("id");
        let sEveNome = button.data("nome");
        let nEventoPai = button.data("id-pai");
        let sOP = button.data("sop");

        let modal = $(this,0,0);
        modal.find("#bodyInsc").html("<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>");

        if (nEventoPai){
            if (sOP === "Cadastrar") {
                modal.find("#modalForm").load("/admin/evento/create/" + nEventoPai);
                modal.find("#modalTitle").text("Cadastrar Evento");
            } else{
                modal.find("#modalForm").load("/admin/evento/" + nEveId + "/update");
                modal.find("#modalTitle").text("Editar Evento: " + sEveNome);
            }
        } else{
            if (sOP === "Cadastrar") {
                modal.find("#modalForm").load("/admin/evento/create");
                modal.find("#modalTitle").text("Cadastrar Evento");
                $("#EventoPai").val(nEventoPai);
            } else{
                modal.find("#modalForm").load("/admin/evento/" + nEveId + "/update");
                modal.find("#modalTitle").text("Editar Evento: " + sEveNome);
            }
        }
    });

    $('#modalSubEvento',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let sEveNome = button.data("nome");
        let nEventoPai = button.data("id-pai");
        let modal = $(this,0,0);
        modal.find("#bodySubEvento").html("<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>");
        modal.find("#bodySubEvento").load("/admin/evento/subeventos/" + nEventoPai);
        modal.find("#titleSubEvento").text(sEveNome);
    });

    $('#modalFormInscricao',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let nEviId = button.data("id");
        let modal = $(this,0,0);
        modal.find("#bodyFormInsc").html("<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>");
        modal.find("#formInscricao").load("/admin/evento/inscricao/update/form/" + nEviId);
    });

    function excluirInscricao(nEviId,nEveId){

        $('#modalDelete').modal('toggle');
        recuperaConteudoDinamico("/admin/evento/inscricao/" + nEviId, 'delete', 'bodyInsc');
        recuperaConteudoDinamico("/admin/evento/inscricoes", nEveId, 'bodyInsc');

    }

    function modalConfirm(nEviId,nEveId) {
        $('#modalDelete', 0, 0).on('show.bs.modal', function() {
            let modal = $(this, 0, 0);
            modal.find('#btnSim').attr('onclick',"excluirInscricao(" + nEviId + "," + nEveId + ")");
        });
    }

    $('#pagamentoEdit').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let inscricao = button.data('id');
        let evento = button.data('evento');
        let modal = $(this);
        modal.find('#inscricao').val(inscricao);
        modal.find('#evento').val(evento);
    });

    jQuery(document).submit(function(e){
        var form = jQuery(e.target);
        var oDiv = $('divForm');
        if(form.is("#formInscricao")){ // check if this is the form that you want (delete this check to apply this to all forms)
            e.preventDefault();
            jQuery.ajax({
                type: "POST",
                url: '/admin/evento/inscricao/update',
                data: form.serialize(), // serializes the form's elements.
                dataType: "JSON",
                beforeSend: function(){
                    oDiv.innerHTML = '<img src="/res/admin/dist/img/load.gif" alt="">';
                },
                error: function(oXMLRequest,sErrorType){
                    console.log(oForm.attr('action'));
                    console.log(oXMLRequest.responseText);
                    console.log(oXMLRequest.status+' , '+sErrorType);
                },
                success: function(data){
                    $('#modalFormInscricao').modal('toggle');
                    recuperaConteudoDinamico('/admin/evento/inscricoes',data.EveId,'bodyInsc');
                    $("#divMensagem").text(data.msg).attr('class',data.class).show();
                }
            });
        }
    });

    function modalDeleteEvento(nEveId) {
        $('#modalDelete', 0, 0).on('show.bs.modal', function() {
            let modal = $(this, 0, 0);
            modal.find('#btnSim').attr('onclick',"excluirEvento(" + nEveId + ")");
        });
    }

    function excluirEvento(nEveId){

        $('#modalDelete').modal('toggle');
        recuperaConteudoDinamico("/admin/evento/" + nEveId, "delete");
        $('#divEventos').load("/admin/evento/lista");
    }


</script>