<div class="table-responsive">
    <table class="table table-hover" id="valores">
        <thead>
        <tr>
            <th style="width: 10px;">#</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Início</th>
            <th>Fim</th>
            <th style="white-space: nowrap"></th>
        </tr>
        </thead>
        <tbody>
        {$sum=1}
        {loop="$voEventoValor"}
        <tr>
            <td>{$sum}{$sum+=1}</td>
            <td>{$value.descricao}</td>
            <td>R$ {function="formatPrice($value.valor)"}</td>
            <td>{function="maskInvData($value.dt_inicio)"}</td>
            <td>{function="maskInvData($value.dt_fim)"}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loteEdit" data-valorid="{$value.evento_valor_id}" data-descricao="{$value.descricao}" data-valor='{function="formatPrice($value.valor)"}' data-dtinicio='{function="maskInvData($value.dt_inicio)"}' data-dtfinal='{function="maskInvData($value.dt_fim)"}' data-sop="Editar"> <i class="fa fa-edit"></i></button>

                <a href="/admin/eventos/lote/{$value.ev_evento_id}/{$value.id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"> <i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>

</div>
