<div class="modal-header">
    <h3 class="modal-title">Editar Inscrição - {$oInscricao.EveNome}</h3>
</div>
<div class="modal-body">
    <input type="hidden" name="PesId" value="{$oInscricao.PesId}">
    <input type="hidden" name="PfiId" value="{$oInscricao.PfiId}">
    <input type="hidden" name="UseId" value="{$oInscricao.UseId}">
    <input type="hidden" name="UroId" value="{$oInscricao.UroId}">
    <input type="hidden" name="EviId" value="{$oInscricao.EviId}">
    <input type="hidden" name="EveId" value="{$oInscricao.EveId}">
    <input type="hidden" name="EveNome" value="{$oInscricao.EveNome}">

    <div class="form-group row">

        <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
            <label for="SitId" class="control-label"><strong>Situação da Inscrição*</strong></label>
            <select class="form-control" name="SitId" id="SitId" required>
                <option value="">Selecione...</option>
                {loop="$voSituacao"}
                {if="$value.sit_id == $oInscricao.SitId"}
                {$sSelected="selected"}
                {else}
                {$sSelected=""}
                {/if}
                <option value="{$value.sit_id}" class="bg-{$value.sit_label}" {$sSelected}>{$value.sit_descricao}</option>
                {/loop}
            </select>
        </div>

    </div>

    <div class="form-group row">

        <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
            <label for="PfiCpf" class="control-label">CPF*</label>
            <input type="text" class="form-control cpf" name="PfiCpf" id="PfiCpf" placeholder="Somente números" value="{$oInscricao.PfiCpf}">
        </div>

        <div class="col-sm-6 col-md-8 col-lg-6 col-xl-4">
            <label for="PfiNome" class="control-label">Nome*</label>
            <input type="text" class="form-control" name="PfiNome" id="PfiNome" placeholder="Nome completo" autocomplete="off" value="{$oInscricao.PfiNome}">
        </div>

        <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
            <label for="PfiNascimento" class="control-label">Nascimento*</label>
            <input type="text" class="form-control date" name="PfiNascimento" id="PfiNascimento" placeholder="__/__/____" value="{$oInscricao.PfiNascimento}" onkeyup="FormataData()" maxlength="10" minlength="10">
        </div>

        <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
            <label for="PfiSexo" class="control-label"><strong>Sexo*</strong></label>
            <select class="form-control select" name="PfiSexo" id="PfiSexo" required>
                <option value="">Selecione...</option>
                <option value="M" {if="$oInscricao.PfiSexo=='M'"}selected{/if}>Masculino</option>
                <option value="F" {if="$oInscricao.PfiSexo=='F'"}selected{/if}>Feminino</option>
            </select>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
            <label for="EciDescricao" class="control-label">Estado Civil</label>
            <select class="form-control select" name="EciDescricao" id="EciDescricao">
                <option value="">Selecione...</option>
                {loop="$voEstadoCivil"}
                {$sSelected = ""}
                {if="$value.eci_descricao == $oInscricao.EciDescricao"}
                {$sSelected = "selected"}
                {/if}
                <option value="{$value.eci_descricao}" {$sSelected}>{$value.eci_descricao}</option>
                {/loop}
            </select>
        </div>

        <div class="col-sm-5 col-md-8 col-lg-3 col-xl-2">
            <label for="PrsDescricao" class="control-label">Profissão</label>
            <select class="form-control select2" name="PrsDescricao" id="PrsDescricao">
                <option value="">Selecione...</option>
                {loop="$voProfissao"}
                {$sSelected = ""}
                {if="$value.prs_descricao == $oInscricao.PrsDescricao"}
                {$sSelected = "selected"}
                {/if}
                <option value="{$value.prs_descricao}" {$sSelected}>{$value.prs_descricao}</option>
                {/loop}
            </select>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3">
            <label for="EscDescricao" class="control-label">Escolaridade</label>
            <select class="form-control" name="EscDescricao" id="EscDescricao">
                <option value="">Selecione...</option>
                {loop="$voEscolaridade"}
                {$sSelected = ""}
                {if="$value.esc_descricao == $oInscricao.EscDescricao"}
                {$sSelected = "selected"}
                {/if}
                <option value="{$value.esc_descricao}" {$sSelected}>{$value.esc_descricao}</option>
                {/loop}
            </select>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3">
            <label for="PfiUfNatural" class="control-label">Naturalidade (UF)</label>
            <select class="form-control select2" name="PfiUfNatural" id="PfiUfNatural" data-parsley-group="block0" onchange="recuperaConteudoDinamico('/cidades',this.value,'PfiNaturalidade')">
                <option value="">Selecione...</option>
                {loop="$voEstado"}
                {$sSelected = ""}
                {if="$value.est_sigla == $oInscricao.PfiUfNatural"}
                {$sSelected = "selected"}
                {/if}
                <option value="{$value.est_sigla}" {$sSelected}>{$value.est_nome}</option>
                {/loop}
            </select>
        </div>

        <div class="col-sm-5 col-md-6 col-lg-3 col-xl-3">
            <label for="PfiNaturalidade" class="control-label">Naturalidade (Cidade)</label>
            <select class="form-control select2" name="PfiNaturalidade" id="PfiNaturalidade">
                <option value="">Selecione...</option>
                {loop="$voCidade"}
                {$sSelected = ""}
                {if="$value.CidNome == $oInscricao.PfiNaturalidade"}
                {$sSelected = "selected"}
                {/if}
                <option value="{$value.CidNome}" {$sSelected}>{$value.CidNome}</option>
                {/loop}
            </select>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="UseEmail" class="control-label">Email</label>
            <input type="text" class="form-control" name="UseEmail" id="UseEmail" value="{$oInscricao.UseEmail}">
        </div>

    </div>



        {if="$voTelefone"}
        {loop="$voTelefone"}
        {if="$value.tel_ddi == '' "}{$nTelDdi = "55"}{else}{$nTelDdi = $value.tel_ddi}{/if}
        {$nTtiId = $value.tti_id}
    <div class="form-group row">
        <div id="telefone{$value.tel_id}">
            <input type="hidden" name="TelId" value="{$value.tel_id}">
            <input type="hidden" name="TelId" value="{$value.tti_id}">

            <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                <label for="TelDdi{$value.tel_id}" class="control-label">DDI</label>
                <input type="text" class="form-control" id="TelDdi{$value.tel_id}" name="TelDdi" placeholder="DDI" maxlength="2" value="{$nTelDdi}" onkeyup="somenteNumeros(this);">
            </div>
            <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                <label for="TelDdd{$value.tel_id}" class="control-label">DDD</label>
                <input type="text" class="form-control" id="TelDdd{$value.tel_id}" name="TelDdd" placeholder="DDD" maxlength="2" value="{$value.tel_ddd}" onkeyup="somenteNumeros(this);">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <label for="TelNumero" class="control-label">Telefone</label>
                <input type="text" class="form-control" name="TelNumero" id="TelNumero" placeholder="Apenas números" maxlength="11" value="{$value.tel_numero}" onkeyup="somenteNumeros(this);" autocomplete="off">
            </div>
        </div>
    </div>
        <hr>
        {/loop}
        {else}
    <div class="form-group row">
        <input type="hidden" name="TelId" value="">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="TtiId" class="control-label">Tipo de contato</label>
            <select class="form-control" name="TtiId" id="TtiId" required>
                {loop="$voTelefoneTipo"}
                <option value="{$value.tti_id}">{$value.tti_descricao}</option>
                {/loop}
            </select>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
            <label for="TelDdi" class="control-label">DDI</label>
            <input type="text" class="form-control" id="TelDdi" name="TelDdi" value="55" placeholder="DDI" maxlength="2" onKeyPress="somenteNumeros(this);">
        </div>
        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
            <label for="TelDdd" class="control-label">DDD</label>
            <input type="text" class="form-control" id="TelDdd" name="TelDdd" placeholder="DDD" maxlength="2" onKeyPress="somenteNumeros(this);">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="TelNumero" class="control-label">Telefone</label>
            <input type="text" class="form-control" name="TelNumero" id="TelNumero" placeholder="Apenas números" maxlength="11" onKeyPress="somenteNumeros(this);" autocomplete="off">
        </div>
        {/if}

    </div>

</div>
<!-- /.modal-body -->
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>