<label class="form-control-label" for="EventoValorId">Selecione a forma de Pagamento<span class="text-danger ml-2">*</span></label>
<select class="custom-select form-control" name="EventoValorId" id="EventoValorId" required>
    <option value="">Selecione</option>
    {loop="$voEventoValor"}
    <option value="{$value.evento_valor_id}">{$value.descricao} - R$ {function="formatPrice($value.valor)"}</option>
    {/loop}
</select>
