{if="$voInscricao"}
<!--suppress HtmlUnknownTarget -->
<table class="table table-hover" id="tableInscricao">
    <thead>
    <tr>
        <th style="width: 10px">#</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Situação</th>
        <th>Categoria</th>
        <th style="width: 140px">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {$sum=1}

    {loop="$voInscricao"}

    <tr>
        <td>{$sum}{$sum +=1}</td>
        <td>{$value.PfiNome}</td>
        <td>{function="maskcpf($value.PfiCpf)"}</td>
        <td><span style="width:100px;" class="btn btn-sm btn-{$value.SitLabel}">{$value.SitDescricao}</span></td>
        <td>{$value.CatDescricao}</td>
        <td style="width: 25%">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalFormInscricao" data-id="{$value.EviId}" data-nome="{$value.PfiNome}"><i class="fa fa-edit"></i></button>

            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalPagamento" data-id="{$value.EviId}" data-valor="" data-evento="{$value.EveId}"><i class="fa fa-money-bill-wave-alt" data-toggle="tooltip" data-placement="top" title="Pagamento"></i></button>

            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalDelete" onclick="modalConfirm('{$value.EviId}','{$value.EveId}')"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Excluir"></i></button>
        </td>
    </tr>
    {/loop}
    </tbody>
</table>
{else}
<div class="alert alert-warning">Nenhuma inscrição realizada até o momento!</div>
{/if}

<script>

    $(document).ready(function() {
        var table = $('#tableInscricao').DataTable( {
            dom: 'Bfrtip',
            search: {
                "smart": true
            },
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'btn-default',
                    title: 'Lista de Inscrições',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4 ]
                    }
                },

                {
                    extend: 'excelHtml5',
                    title: 'Lista de Inscrições',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4 ]
                    }
                },
                {
                    extend: 'print',
                    text: 'Imprimir',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)',
                    text: 'Colunas'
                },
                'pageLength'
            ],
            lengthMenu: [
                [ 10, 25, 50, -1 ],
                [ '10 registros', '25 registros', '50 registros', 'Mostrar todos' ],
            ],
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json",
                "decimal": ",",
                "thousands": "."
            }
        });
        table
            .order( [ 1, 'asc' ] )
            .draw();
    } );

</script>