<!-- Content Wrapper. Contains page content -->
<!--suppress HtmlUnknownTarget -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Lista de Eventos</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="">Eventos</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/eventos/create/{$oEvento.EventoId}" class="btn btn-success">Cadastrar</a>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>Início</th>
                                <th>Término</th>
                                <th>Inscritos</th>
                                <th style="white-space: nowrap"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {$sum = 1}
                            {loop="$voEvento"}
                            <tr>
                                <td>{$sum}{$sum += 1}</td>
                                <td>{$value.Nome}</td>
                                <td>{$value.DtInicio} {$value.HrInicio}</td>
                                <td>{$value.DtFim} {$value.HrFim}</td>
                                <td>{$value.Inscritos}</td>
                                <td>
                                    <a href="/admin/eventos/inscricoes/{$value.EventoId}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Inscritos"><i class="fa fa-users"></i></a>

                                    <a href="/admin/eventos/{$value.EventoId}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>

                                    <a href="/admin/eventos/{$value.EventoId}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}
