<style>
    label{
        padding-top: 10px;
    }
</style>
<!-- form start -->
<!--suppress HtmlUnknownTarget -->
<form class="form form-horizontal" role="form" action="/admin/evento/update" method="post" enctype="multipart/form-data">
    <input type="hidden" name="EveId" value="{$oEvento.EveId}">
    <div class="modal-body">

        <div class="form-group">

            <div class="col-md-6">
                <label class="form-control-label" for="EveNome">Nome</label>
                <input type="text" class="form-control" id="EveNome" name="EveNome" placeholder="Digite o nome" value="{$oEvento.EveNome}" required>
            </div>

            <div class="col-md-6">
                <label class="form-control-label" for="EveDescricao">Descricao</label>
                <input type="text" class="form-control" id="EveDescricao" name="EveDescricao" placeholder="Digite a descricao" value="{$oEvento.EveDescricao}" required>
            </div>

            <div class="col-md-3">
                <label class="form-control-label" for="EveValor">Valor</label>
                <input type="text" class="form-control" id="EveValor" name="EveValor" placeholder="Valor" value='{function="formatPrice($oEvento.EveValor)"}' onkeyup="FormataMoney(this)" required>
            </div>

            <div class="col-md-3">
                <label class="form-control-label" for="EveInicio">Data/Hora de Início</label>
                <input type="text" class="form-control date-time" id="EveInicio" name="EveInicio" placeholder="Data e Hora" value='{function="maskInvData($oEvento.EveInicio,true)"}'>
            </div>

            <div class="col-md-3">
                <label class="form-control-label" for="EveFim">Data/Hora de Término</label>
                <input type="text" class="form-control date-time" id="EveFim" name="EveFim" placeholder="Data e Hora" value='{function="maskInvData($oEvento.EveFim,true)"}'>
            </div>

            <div class="col-md-3">
                <label class="form-control-label" for="CatId">Categoria</label>
                <select class="form-control" name="CatId" id="CatId" required>
                    <option value="">Selecione..</option>
                    {loop="$voCategoria"}
                    {$sSelected = ""}
                    {if="$value.cat_id == $oEvento.CatId"}
                    {$sSelected = "selected"}
                    {/if}
                    <option value="{$value.cat_id}" {$sSelected}>{$value.cat_descricao}</option>
                    {/loop}
                </select>
            </div>

            <div class="col-md-6">
                <label class="form-control-label" for="EveImagem">Imagem</label>
                <input type="file" class="form-control" name="EveImagem" id="EveImagem">
                {if="$oEvento.EveImagem != null"}
                <hr>
                <!--suppress HtmlUnknownTarget -->
                <img src="{$oEvento.EveImagem}" style="width: 100%" alt="{$oEvento.EveNome}">
                {/if}
            </div>

            <div class="col-md-6">
                <div class="checkbox">
                    <br>
                    <label>
                        {if="$oEvento.EveDestaque == 1"}{$sChecked="checked"}{else}{$sChecked=""}{/if}
                        <input type="checkbox" name="EveDestaque" id="EveDestaque" value="1" {$sChecked}> Destacar no site
                    </label>
                </div>
            </div>

        </div>

    </div>
    <!-- /.box-body -->
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
</form>