<!-- Modal Confirmação Delete -->
<div class="modal modal-danger fade" id="modalDelete" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirmação</h4>
            </div>
            <div class="modal-body">
                <h4><i class="fa fa-exclamation-triangle "></i> Atenção</h4>
                <p>Deseja relamente excluir esse registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <a class="btn btn-success" id="btnSim">Sim</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Begin Page Footer-->
<footer class="main-footer fixed-bottom">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
            <p class="text-gradient-02"> &copy; {function="getAnoAtual()"} AcCursos. Todos os direitos reservados. Desenvolvido por <a href="http://albertreis.com" target="_blank" style="display: contents">Albert Reis</a></p>
        </div>

    </div>
</footer>

<script>
    function FormataData(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace("/", "");
        tam = vr.length + 1;
        if (tecla != 8)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + '/';
            if (tam == 5)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/';
            if (tam == 11)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/' + vr.substr(6, 4);
        }
    }

    function FormataHora(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace(":", "");
        tam = vr.length + 1;
        if (tecla != 4)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + ':';
        }
    }

    function FormataMoney(i) {
        var v = i.value.replace(/\D/g,'');
        v = (v/100).toFixed(2) + '';
        v = v.replace(".", ",");
        v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
        v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
        i.value = v;
    }

</script>

<!-- End Page Snippets -->
</body>
</html>