<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Menu</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Menu</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/menu/create" class="btn btn-success">Cadastrar Menu</a>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>Ícone</th>
                                <th>Link</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="sortable">
                            {$sum = 1}
                            {loop="$voMenu"}
                            <tr id="{$value.men_id}">
                                <td>{$value.men_ordem}</td>
                                <td>{$value.men_descricao}</td>
                                <td><i class="{$value.men_icone}"></i></td>
                                <td>{$value.men_link}</td>
                                <td style="width:25%">
                                    <a href="/admin/menu/{$value.men_id}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>

                                    <a href="/admin/menu/{$value.men_id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}

<script>
    $("#sortable",0,0).sortable({
        update: function(){
            let lista = $('#sortable', 0, 0).sortable('toArray');
            $.post("/admin/menu/update",{menu:lista}, function(data){
                console.log(data);
            });
        }
    });
</script>