<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Gerenciar Menu</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/menu">Menu</a></li>
            <li class="active"><a href="">Editar</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Menu</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form action="/admin/menu/update" class="form form-horizontal" method="post" role="form">
                        <input type="hidden" name="MenId" value="{$oMenu.MenId}">
                        <div class="box-body">

                            <div class="col-md-3">
                                <label class="form-control-label" for="MenDescricao">Descricao</label>
                                <input type="text" class="form-control" id="MenDescricao" name="MenDescricao" value="{$oMenu.MenDescricao}" placeholder="Digite o nome">
                            </div>

                            <div class="col-md-3">
                                <label class="form-control-label" for="MenLink">Link</label>
                                <input type="text" class="form-control" id="MenLink" name="MenLink" value="{$oMenu.MenLink}" placeholder="Digite o link">
                            </div>

                            <div class="col-md-3">
                                <label class="form-control-label" for="MenIcone">Ícone</label>
                                <input type="text" class="form-control" id="MenIcone" name="MenIcone" value="{$oMenu.MenIcone}" placeholder="Digite o icone">
                            </div>

                            <div class="col-md-3">
                                <label class="form-control-label" for="MenuPai">Menu</label>
                                <select class="form-control" name="MenuPai" id="MenuPai">
                                    <option value="">Selecione..</option>
                                    {loop="$voMenu"}
                                    {$sSelected = ($oMenu.MenuPai == $value.men_id) ? 'selected' : ''}
                                    <option value="{$value.men_id}" {$sSelected}>{$value.men_descricao}</option>
                                    {/loop}
                                </select>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->