<!-- Content Wrapper. Contains page content -->
<!--suppress HtmlUnknownTarget -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Perfil</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="">Perfil</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">


                {if="$vError.sMsg != ''"}
                <div class="col-md-12">
                    <div class="alert alert-{$vError.sClass}">
                        {$vError.sMsg}
                    </div>
                </div>
                {/if}

                <div class="col-md-4">
                    <section class="box">
                        <div class="box-header">
                            <h2 class="box-title">Foto</h2>
                        </div>
                        <div class="box-body" id="divFoto"></div>

                        <div class="box-footer">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalFoto" data-fotid="{$oUser.FotId}"><i class="fa fa-photo"></i> Alterar Foto</button>
                        </div>
                    </section>

                </div>

                <div class="col-md-8">
                    <section class="box">
                        <div class="box-header">
                            <h2 class="box-title">Dados Pessoais</h2>
                        </div>

                        <div class="box-body" id="divPessoal"></div>
                        <div class="box-footer" id="footerPessoal">
                            <a href="/pessoa/perfil/atualizacao" class="btn btn-primary btn-sm">Editar Dados Pessoais</a>
                        </div>
                    </section>
                </div>

            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal Foto -->
<div class="modal fade" id="ModalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="box-header">
                <h2 class="box-title">Alterar Foto</h2>
            </div>
            <form id="formUpload" method="post" enctype="multipart/form-data" onsubmit="return false">
                <input type="hidden" name="FotId" id="FotId" value="">
                <input type="hidden" name="PesId" id="PesId" value="{$oUser.PesId}">
                <div class="box-body">

                    <div class="form-group row">
                        <div class="col-md-5">
                            <div class="fallback">
                                <input type="file" name="fFoto" id="fFoto">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="progress progress-xl progress-half-rounded m-2 light">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;" id="porcentagem">
                                    0%
                                </div>
                            </div>
                            <div class="alert alert-success" id="resposta" style="display: none"></div>
                        </div>
                    </div>

                </div>

                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" name="btnEnviar" id="btnEnviar" value="Salvar">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>

            </form>

        </div>

    </div>
</div>

{include="script"}

<script>

    $('#ModalFoto',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let nFotId = button.data('fotid');
        let modal = $(this,0,0);

        modal.find('#FotId').val(nFotId);
    });

    window.onload = function () {
        recuperaConteudoDinamico('/pessoa/perfil/foto',"{$oUser.UseId}",'divFoto');
        recuperaConteudoDinamico('/pessoa/perfil/pessoal',"{$oUser.UseId}",'divPessoal');
    };


    $(function () {

        var form;
        $('#fFoto').change(function (event) {
            form = new FormData();
            form.append('fFoto', event.target.files[0]); // para apenas 1 arquivo
            form.append('PesId',$('#PesId').val());
            form.append('FotId',$('#FotId').val());
        });

        $('#btnEnviar').click(function () {
            $.ajax({
                url: '/pessoa/perfil/foto', // Url do lado server que vai receber o arquivo
                data: form,
                processData: false,
                contentType: false,
                type: 'POST',
                datatype: 'json',
                uploadProgress: function(event, position, total, percentComplete) {
                    // $('progress',0,0).attr('value',percentComplete);
                    $('#porcentagem',0,0).html(percentComplete+'%').attr('style','width:' + percentComplete + '%');
                    $("#btnEnviar").prop("disabled", true);
                },
                success: function(data) {
                    data = JSON.parse(data);
                    // $('progress',0,0).attr('value','100');
                    $('#porcentagem',0,0).html('100%').attr('style','width:100%');
                    if(data.sucesso === true){
                        $("#btnEnviar").prop("disabled", true);
                        $('#fFoto',0,0).hide();
                        $('#resposta',0,0).show().html(data.msg).attr('class',"alert alert-success");
                        setTimeout(function(){
                            window.location.reload();
                        });
                    } else{
                        $('#resposta',0,0).show().html(data.msg).attr('class',"alert alert-danger");
                        $('#porcentagem',0,0).html('100%').attr('class','progress-bar progress-bar-danger progress-bar-striped');
                    }
                },
                error : function(){
                    $('#resposta',0,0).show().html(data.msg).attr('class',"alert alert-danger");
                    $('#porcentagem',0,0).html('100%').attr('class','progress-bar progress-bar-danger progress-bar-striped');
                }
            });
        });
    });
</script>