<!-- Content Wrapper. Contains page content -->
<!--suppress HtmlUnknownTarget -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Perfil</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="">Perfil</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">

                <div class="box box-primary">

                    <div class="box-header">
                        <h2 class="box-title">{$oUser.PfiNome}</h2>
                    </div>

                    <!-- form start -->
                    <form class="form form-horizontal" role="form" action="/pessoa/perfil/atualizacao" method="post">

                        <input type="hidden" name="PesId" value="{$oUser.PesId}">
                        <input type="hidden" name="PfiId" value="{$oUser.PfiId}">
                        <input type="hidden" name="UseId" value="{$oUser.UseId}">
                        <input type="hidden" name="UroId" value="{$oUser.UroId}">
                        <input type="hidden" name="EndId" value="{$oUser.EndId}">

                        <div class="box-body">

                            {if="$vError.sMsg != ''"}
                            <div class="alert alert-{$vError.sClass}">
                                {$vError.sMsg}
                            </div>
                            {/if}

                            <div class="form-group row">

                                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
                                    <label for="PfiCpf" class="control-label">CPF*</label>
                                    <input type="text" class="form-control cpf" name="PfiCpf" id="PfiCpf" placeholder="Somente números" value="{$oUser.PfiCpf}" readonly>
                                </div>

                                <div class="col-sm-6 col-md-8 col-lg-6 col-xl-4">
                                    <label for="PfiNome" class="control-label">Nome*</label>
                                    <input type="text" class="form-control" name="PfiNome" id="PfiNome" placeholder="Nome completo" autocomplete="off" value="{$oUser.PfiNome}" readonly>
                                </div>

                                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
                                    <label for="PfiNascimento" class="control-label">Nascimento*</label>
                                    <input type="text" class="form-control date" name="PfiNascimento" id="PfiNascimento" placeholder="__/__/____" value="{$oUser.PfiNascimento}" onkeyup="FormataData(this,event)" maxlength="10" minlength="10" required>
                                </div>

                                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
                                    <label for="PfiSexo" class="control-label"><strong>Sexo*</strong></label>
                                    <select class="form-control select" name="PfiSexo" id="PfiSexo" required>
                                        <option value="">Selecione...</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                </div>

                                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
                                    <label for="EciDescricao" class="control-label">Estado Civil</label>
                                    <select class="form-control select" name="EciDescricao" id="EciDescricao">
                                        <option value="">Selecione...</option>
                                        {loop="$voEstadoCivil"}
                                        {$sSelected = ""}
                                        {if="$value.eci_descricao == $oUser.EciDescricao"}
                                        {$sSelected = "selected"}
                                        {/if}
                                        <option value="{$value.eci_descricao}" {$sSelected}>{$value.eci_descricao}</option>
                                        {/loop}
                                    </select>
                                </div>

                                <div class="col-sm-5 col-md-8 col-lg-3 col-xl-2">
                                    <label for="PrsDescricao" class="control-label">Profissão</label>
                                    <select class="form-control select2" name="PrsDescricao" id="PrsDescricao">
                                        <option value="">Selecione...</option>
                                        {loop="$voProfissao"}
                                        {$sSelected = ""}
                                        {if="$value.prs_descricao == $oUser.PrsDescricao"}
                                        {$sSelected = "selected"}
                                        {/if}
                                        <option value="{$value.prs_descricao}" {$sSelected}>{$value.prs_descricao}</option>
                                        {/loop}
                                    </select>
                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3">
                                    <label for="EscDescricao" class="control-label">Escolaridade</label>
                                    <select class="form-control" name="EscDescricao" id="EscDescricao">
                                        <option value="">Selecione...</option>
                                        {loop="$voEscolaridade"}
                                        {$sSelected = ""}
                                        {if="$value.esc_descricao == $oUser.EscDescricao"}
                                        {$sSelected = "selected"}
                                        {/if}
                                        <option value="{$value.esc_descricao}" {$sSelected}>{$value.esc_descricao}</option>
                                        {/loop}
                                    </select>
                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-3 col-xl-3">
                                    <label for="PfiUfNatural" class="control-label">Naturalidade (UF)</label>
                                    <select class="form-control select2" name="PfiUfNatural" id="PfiUfNatural" data-parsley-group="block0" onchange="recuperaConteudoDinamico('/cidades',this.value,'nCidade')">
                                        <option value="">Selecione...</option>
                                        {loop="$voEstado"}
                                        {$sSelected = ""}
                                        {if="$value.est_sigla == $oUser.PfiUfNatural"}
                                        {$sSelected = "selected"}
                                        {/if}
                                        <option value="{$value.est_sigla}" {$sSelected}>{$value.est_nome}</option>
                                        {/loop}
                                    </select>
                                </div>

                                <div class="col-sm-5 col-md-6 col-lg-3 col-xl-3">
                                    <label for="PfiNaturalidade" class="control-label">Naturalidade (Cidade)</label>
                                    <select class="form-control select2" name="PfiNaturalidade" id="PfiNaturalidade">
                                        {loop="$voCidade"}
                                        {$sSelected = ""}
                                        {if="$value.CidNome == $oUser.PfiNaturalidade"}
                                        {$sSelected = "selected"}
                                        {/if}
                                        <option value="{$value.CidNome}" {$sSelected}>{$value.CidNome}</option>
                                        {/loop}
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Contato</h3>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <label for="UseEmail" class="control-label">Email</label>
                                            <input type="text" class="form-control" name="UseEmail" id="UseEmail" value="{$oUser.UseEmail}">
                                        </div>
                                    </div>

                                    {if="$voTelefone"}
                                    {loop="$voTelefone"}
                                    {if="$value.tel_ddi == '' "}{$nTelDdi = "55"}{else}{$nTelDdi = $value.tel_ddi}{/if}
                                    {$nTtiId = $value.tti_id}
                                    <div id="telefone{$value.tel_id}">
                                        <input type="hidden" name="TelId" value="{$value.tel_id}">
                                        <div class="form-group row">
                                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                                <label for="TtiId{$value.tel_id}" class="control-label">Tipo</label>
                                                <select class="form-control" name="TtiId" id="TtiId{$value.tel_id}" required>
                                                    {loop="$voTelefoneTipo"}
                                                    <option value="{$value.tti_id}" {if="$nTtiId==$value.tti_id"}selected{/if}>{$value.tti_descricao}</option>
                                                    {/loop}
                                                </select>
                                            </div>
                                            <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                                                <label for="TelDdi{$value.tel_id}" class="control-label">DDI</label>
                                                <input type="text" class="form-control" id="TelDdi{$value.tel_id}" name="TelDdi" placeholder="DDI" maxlength="2" value="{$nTelDdi}" onkeyup="somenteNumeros(this);">
                                            </div>
                                            <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                                                <label for="TelDdd{$value.tel_id}" class="control-label">DDD</label>
                                                <input type="text" class="form-control" id="TelDdd{$value.tel_id}" name="TelDdd" placeholder="DDD" maxlength="2" value="{$value.tel_ddd}" onkeyup="somenteNumeros(this);">
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                                <label for="TelNumero" class="control-label">Telefone</label>
                                                <input type="text" class="form-control" name="TelNumero" id="TelNumero" placeholder="Apenas números" maxlength="11" value="{$value.tel_numero}" onkeyup="somenteNumeros(this);" autocomplete="off">
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    {/loop}
                                    {else}

                                    <div class="form-group row">
                                        <input type="hidden" name="TelId" value="">
                                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                            <label for="TtiId" class="control-label">Tipo</label>
                                            <select class="form-control" name="TtiId" id="TtiId" required>
                                                {loop="$voTelefoneTipo"}
                                                <option value="{$value.tti_id}">{$value.tti_descricao}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                                            <label for="TelDdi" class="control-label">DDI</label>
                                            <input type="text" class="form-control" id="TelDdi" name="TelDdi" value="55" placeholder="DDI" maxlength="2" onKeyPress="somenteNumeros(this);">
                                        </div>
                                        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
                                            <label for="TelDdd" class="control-label">DDD</label>
                                            <input type="text" class="form-control" id="TelDdd" name="TelDdd" placeholder="DDD" maxlength="2" onKeyPress="somenteNumeros(this);">
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                            <label for="TelNumero" class="control-label">Telefone</label>
                                            <input type="text" class="form-control" name="TelNumero" id="TelNumero" placeholder="Apenas números" maxlength="11" onKeyPress="somenteNumeros(this);" autocomplete="off">
                                        </div>
                                    </div>

                                    {/if}

                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Endereço</h3>
                                    </div>
                                    <!-- /.box-header -->

                                    <div class="form-group row">
                                        <input type="hidden" name="EndId" id="EndId" value="{$oUser.EndId}">

                                        <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4">
                                            <label for="EndCep" class="control-label">CEP</label>
                                            <input type="text" class="form-control" name="EndCep" id="EndCep" placeholder="CEP" value="{$oUser.EndCep}" required>
                                        </div>

                                        <div class="col-sm-7 col-md-8 col-lg-8 col-xl-8">
                                            <label for="EndRua" class="control-label">Rua</label>
                                            <input type="text" class="form-control" name="EndRua" id="EndRua" placeholder="Avenida, Rua, Travessa" value="{$oUser.EndRua}" required>
                                        </div>

                                        <div class="col-sm-4 col-md-3 col-lg-4 col-xl-4">
                                            <label for="EndNumero" class="control-label">Número</label>
                                            <input type="text" class="form-control" name="EndNumero" id="EndNumero" placeholder="Num" value="{$oUser.EndNumero}" required>
                                        </div>

                                        <div class="col-sm-8 col-md-9 col-lg-8 col-xl-8">
                                            <label for="EndComplemento" class="control-label">Complemento</label>
                                            <input type="text" class="form-control" name="EndComplemento" id="EndComplemento" placeholder="Apt, bloco" value="{$oUser.EndComplemento}">
                                        </div>

                                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                            <label for="EndBairro" class="control-label">Bairro</label>
                                            <input type="text" class="form-control" name="EndBairro" id="EndBairro" placeholder="Bairro" value="{$oUser.EndBairro}" required>
                                        </div>

                                        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-4">
                                            <label for="EndEstado" class="control-label">Estado</label>
                                            <input type="text" class="form-control" name="EndEstado" id="EndEstado" placeholder="UF" value="{$oUser.EndEstado}" required>
                                        </div>

                                        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4">
                                            <label for="EndCidade" class="control-label">Cidade</label>
                                            <input type="text" class="form-control" name="EndCidade" id="EndCidade" placeholder="Cidade" value="{$oUser.EndCidade}" required>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- /.box-body -->

                        </div>

                        <div class="box-footer">
                            <input type="submit" class="btn btn-primary" value="Salvar">
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}

<script>

    window.onload = function () {
        $("#PfiSexo",0,0).val('{$oUser.PfiSexo}');
        recuperaConteudoDinamico('/pessoa/perfil/telefone',"{$oUser.PesId}",'divTelefone');
    };

    function excluirTelefone(nTelId) {
        recuperaConteudoDinamico('','pessoa/perfil/telefone/' + nTelId + '/delete','telefone' + nTelId);
        alert("Excluído");
        recuperaConteudoDinamico('/pessoa/perfil/telefone',"{$oUser.PesId}",'divTelefone');
    }

    function modalConfirm(nTelId) {

        $('#ModalDelete', 0, 0).on('show.bs.modal', function() {
            let modal = $(this, 0, 0);
            modal.find('#btnTelefone').attr('onclick',"excluirTelefone("+ nTelId +")").attr('data-dismiss','modal').attr('aria-label','Close')
        });
    }

</script>