<div class="row">
    <div class="col-md-6">
        <p><b>Nome:</b> {$oUser.PfiNome}<br>
            <b>Sexo:</b> {$oUser.PfiSexo}<br>
            <b>Nascimento:</b> {$oUser.PfiNascimento}<br>
            <b>CPF:</b> {$oUser.PfiCpf}<br>
            <b>RG:</b> {$oUser.PfiRg} - {$oUser.RemSigla}/{$oUser.PfiRgUf}<br>
            <b>Estado Civil:</b> {$oUser.EciDescricao}</p>
        <b>E-mail:</b> {$oUser.UseEmail}<br>
        <p><b>Telefone: </b>
            {loop="$voTelefone"}
            ({$value.tel_ddd}) {$value.tel_numero}&nbsp;&nbsp;
            {/loop}
        </p>
    </div>
    <div class="col-md-6">
        <p><b>Escolaridade:</b> {$oUser.EscDescricao}<br>
            <b>Naturalidade:</b> {$oUser.PfiNaturalidade} - {$oUser.PfiUfNatural}<br>
            <b>Profissão:</b> {$oUser.PrsDescricao}<br>
            <br><b>Endereço</b><br>
            {$oUser.EndRua}, {$oUser.EndNumero}<br>{$oUser.EndCep} - {$oUser.EndBairro}<br>{$oUser.EndCidade} - {$oUser.EndEstado}</p>
    </div>
</div>