{if="$voTelefone"}
{loop="$voTelefone"}
{if="$value.tel_ddi == '' "}{$nTelDdi = "55"}{else}{$nTelDdi = $value.tel_ddi}{/if}
{$nTtiId = $value.tti_id}
<div id="telefone{$value.tel_id}">
    <input type="hidden" name="TelId[]" value="{$value.tel_id}">
    <div class="form-group row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <label for="TtiId{$value.tel_id}" class="control-label">Tipo</label>
            <select class="form-control" name="TtiId[]" id="TtiId{$value.tel_id}" required>
                {loop="$voTelefoneTipo"}
                <option value="{$value.tti_id}" {if="$nTtiId==$value.tti_id"}selected{/if}>{$value.tti_descricao}</option>
                {/loop}
            </select>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
            <label for="TelDdi{$value.tel_id}" class="control-label">DDI</label>
            <input type="text" class="form-control" id="TelDdi{$value.tel_id}" name="TelDdi[]" placeholder="DDI" maxlength="2" value="{$nTelDdi}" onkeyup="somenteNumeros(this);" required>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-2 col-xl-2">
            <label for="TelDdd{$value.tel_id}" class="control-label">DDD</label>
            <input type="text" class="form-control" id="TelDdd{$value.tel_id}" name="TelDdd[]" placeholder="DDD" maxlength="2" value="{$value.tel_ddd}" onkeyup="somenteNumeros(this);" required>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="TelNumero" class="control-label">Telefone</label>
            <input type="text" class="form-control" name="TelNumero[]" id="TelNumero" placeholder="Apenas números" maxlength="11" value="{$value.tel_numero}" onkeyup="somenteNumeros(this);" autocomplete="off" required>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-1 col-xl-2" style="text-align: center">
            <br>
            <button type="button" data-toggle="modal" data-target="#modalDelete" onClick="modalConfirm('{$value.tel_id}')" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i></button>
        </div>
    </div>
    <hr>
</div>
{/loop}
{/if}