<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Níveis de Acesso</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Níveis de Acesso</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/roles/create" class="btn btn-success">Cadastrar Nível de Acesso</a>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {$sum = 1}
                            {loop="$voRoles"}
                            <tr>
                                <td>{$sum}{$sum += 1}</td>
                                <td>{$value.descricao}</td>
                                <td style="white-space: nowrap;text-align: right">
                                    <a data-toggle="modal" data-target="#menu" data-id="{$value.user_role_id}"><button class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Menu"><i class="fa fa-list"></i></button></a>
                                    <a href="/admin/roles/{$value.user_role_id}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                                    <a href="/admin/roles/{$value.user_role_id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Editar Pagamento -->
<div class="modal fade" id="menu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Itens do Menu</h4>
            </div>
            <div class="modal-body">

                <form role="form" id="formPgto" action="/admin/menu/role" method="post">

                    <input type="hidden" class="form-control" id="Role" name="RoleId" value="">

                    <div class="modal-body">

                        {loop="$voMenu"}
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="flat-red" name="MenuId[]" value="{$value.menu_id}">
                                {$value.descricao}
                            </label>
                        </div>
                        {/loop}

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Salvar" name="Editar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{include="script"}

<script>
    $('#menu',0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget,0,0);
        let nRoleId = button.data('id');
        let modal = $(this,0,0);
        modal.find('#Role').val(nRoleId);
    })
</script>