<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Gerenciar Níveis de Acesso</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/roles">Níveis de Acesso</a></li>
            <li class="active"><a href="">Editar</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Nível de Acesso</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form form-horizontal" role="form" action="/admin/roles/{$role.Id}" method="post">
                        <div class="box-body">

                            <label class="control-label col-md-1" for="Descricao">Descrição</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="Descricao" id="Descricao" value="{$role.Descricao}" placeholder="Digite o nome">
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}