<!-- jQuery 2.2.3 -->
<script src="/res/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/res/admin/plugins/jQueryUI/jquery-ui.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="/res/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/res/admin/dist/js/app.min.js"></script>

<!-- DataTables -->
<script src="/res/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/res/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/res/admin/plugins/datatables/date-euro.js"></script>

<!-- Select2 -->
<script src="/res/admin/plugins/select2/select2.full.min.js"></script>

<!-- AdminLTE App -->
<script src="/res/admin/dist/js/app.min.js"></script>

<!-- nicer scroll in steps -->
<script src="/res/admin/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- validation library http://parsleyjs.org/ -->
<script src="/res/admin/plugins/parsley/parsley.js"></script>

<script type="text/javascript" src="/res/admin/plugins/summernote/summernote.js"></script>

<script type="text/javascript" src="/vendor/igorescobar/jquery-mask-plugin/src/jquery.mask.js"></script>

<!-- CK Editor -->
<script src="/res/admin/plugins/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replaceClass="editor";

    $('.sidebar-menu ul li',0,0).find('a').each(function () {
        let link = new RegExp($(this, 0, 0).attr('href')); //Check if some menu compares inside your the browsers link
        if (link.test(document.location.href)) {
            if(!$(this,0,0).parents().hasClass('active')){
                $(this,0,0).parents('li').addClass('menu-open');
                $(this,0,0).parents().addClass("active");
                $(this,0,0).addClass("active"); //Add this too
            }
        }
    });

    function FormataMoney(i) {
        let v = i.value.replace(/\D/g,'');
        console.log(v);
        v = (v/100).toFixed(2) + '';
        v = v.replace(".", ",");
        v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
        v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
        i.value = v;
    }

    function FormataData(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace("/", "");
        tam = vr.length + 1;
        if (tecla != 8)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + '/';
            if (tam == 5)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/';
            if (tam == 11)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/' + vr.substr(6, 4);
        }
    }

    $(document,0,0).ready(function(){
        $('.date',0,0).mask('00/00/0000');
        $('.time',0,0).mask('00:00:00');
        $('.time2',0,0).mask('00:00:00');
        $('.date-time',0,0).mask('99/99/9999 99:99');
        $('.cep',0,0).mask('00000-000');
        $('.phone',0,0).mask('0000-0000');
        $('.phone_with_ddd',0,0).mask('(00) 0000-0000');
        $('.phone_us',0,0).mask('(000) 000-0000');
        $('.mixed',0,0).mask('AAA 000-S0S');
        $('.cpf',0,0).mask('000.000.000-00', {reverse: true});
        $('.cnpj',0,0).mask('00.000.000/0000-00', {reverse: true});
        $('.money',0,0).mask('000.000.000.000.000,00', {reverse: true});
        $('.money2',0,0).mask("#.##0,00", {reverse: true});
        $('.ip_address',0,0).mask('099.099.099.099');
        $('.percent',0,0).mask('##0,00%', {reverse: true});
        $('.clear-if-not-match',0,0).mask("00/00/0000", {clearIfNotMatch: true});
        $('.placeholder',0,0).mask("00/00/0000", {placeholder: "__/__/____"});
        $('.selectonfocus',0,0).mask("00/00/0000", {selectOnFocus: true});
    });

    $(document,0,0).ready(function () {
        let url = window.location;
        let element = $('ul.sidebar-menu a', 0, 0).filter(function () {
            return this.href === url || url.href.indexOf(this.href) === 0;
        });
        $(element,0,0).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
    });

    $(function () {
        $(".select2",0,0).select2();
    },0,0);

    $(function () {
        $("#table",0,0).DataTable();
    },0,0);

    'use strict';

    (function($) {
        window.ParsleyValidator
            .addValidator('validcnpj', function (value) {
                let i;
                let cnpj = value.replace(/[^0-9]/g, '')
                    , len = cnpj.length - 2
                    , numbers = cnpj.substring(0, len)
                    , digits = cnpj.substring(len)
                    , add = 0
                    , pos = len - 7
                    , invalidCNPJ = [
                        '00000000000000',
                        '11111111111111',
                        '22222222222222',
                        '33333333333333',
                        '44444444444444',
                        '55555555555555',
                        '66666666666666',
                        '77777777777777',
                        '88888888888888',
                        '99999999999999'
                    ]
                    , result
                ;


                if ( cnpj.length < 11 || $.inArray(cnpj, invalidCNPJ) !== -1 ) {
                    return false;
                }

                for (i = len; i >= 1; i--) {
                    add = add + parseInt(numbers.charAt(len - i)) * pos--;
                    if (pos < 2) { pos = 9; }
                }

                result = (add % 11) < 2 ? 0 : 11 - (add % 11);
                if (result !== digits.charAt(0)) {
                    return false;
                }

                len = len + 1;
                numbers = cnpj.substring(0,len);
                add = 0;
                pos = len - 7;

                for (i = 13; i >= 1; i--) {
                    add = add + parseInt(numbers.charAt(len - i)) * pos--;
                    if (pos < 2) { pos = 9; }
                }

                result = (add % 11) < 2 ? 0 : 11 - (add % 11);
                return result === digits.charAt(1);



            }, 32)
            .addMessage('pt-br', 'validcnpj', 'Este campo deve ser um CNPJ válido.');

    }(window.jQuery));

    'use strict';

    (function ($) {
        window.ParsleyValidator
            .addValidator('validcpf', function (value) {
                let cpf = value.replace(/[^0-9]/g, '')
                    , compareCPF = cpf.substring(0, 9)
                    , add = 0
                    , i, u
                    , invalidCPF = [
                        '00000000000',
                        '11111111111',
                        '22222222222',
                        '33333333333',
                        '44444444444',
                        '55555555555',
                        '66666666666',
                        '77777777777',
                        '88888888888',
                        '99999999999'
                    ]
                ;


                if (cpf.length < 11 || $.inArray(cpf, invalidCPF) !== -1) {
                    return false;
                }

                for (i = 8, u = 2; i >= 0; i--, u++) {
                    add = add + parseInt(cpf.substring(i, i + 1)) * u;
                }

                compareCPF = compareCPF + ((add % 11) < 2 ? 0 : 11 - (add % 11));
                add = 0;

                for (i = 9, u = 2; i >= 0; i--, u++) {
                    add = add + parseInt(cpf.substring(i, i + 1)) * u;
                }

                compareCPF = compareCPF + ((add % 11) < 2 ? 0 : 11 - (add % 11));

                return compareCPF === cpf;



            }, 32)
            .addMessage('pt-br', 'validcpf', 'Este campo deve ser um CPF válido.');

    }(window.jQuery));

    $(document,0,0).ready(function () {

        function limpa_formulario_cep() {
            // Limpa valores do formulário de cep.
            $("#EndRua",0,0).val("");
            $("#EndBairro",0,0).val("");
            $("#EndCidade",0,0).val("");
            $("#EndEstado",0,0).val("");
        }

        //Quando o campo cep perde o foco.
        $("#EndCep",0,0).blur(function () {

            //Nova variável "cep" somente com dígitos.
            let cep = $(this, 0, 0).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep !== "") {

                //Apaga os campos enquanto consulta webservice.
                $("#EndRua",0,0).val("");
                $("#EndBairro",0,0).val("");
                $("#EndCidade",0,0).val("");
                $("#EndEstado",0,0).val("");

                //Consulta o webservice viacep.com.br/
                $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#EndRua",0,0).val(dados.logradouro);
                        $("#EndBairro",0,0).val(dados.bairro);
                        $("#EndCidade",0,0).val(dados.localidade);
                        $("#EndEstado",0,0).val(dados.uf);

                        $("#EndRua",0,0).attr("disabled", false);
                        $("#EndNumero",0,0).attr("disabled", false);
                        $("#EndComplemento",0,0).attr("disabled", false);
                        $("#EndBairro",0,0).attr("disabled", false);
                        $("#EndCidade",0,0).attr("disabled", false);
                        $("#EndEstado",0,0).attr("disabled", false);

                        $('#EndNumero',0,0).focus();
                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulario_cep();
                        alert("CEP não encontrado.");
                    }
                });
                //end if.

            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulario_cep();
            }
        });
    });

    function somenteNumeros(num) {
        let er = /[^0-9]/;
        er.lastIndex = 0;
        let campo = num;
        if (er.test(campo.value)) {
            campo.value = "";
        }
    }

    function recuperaConteudoDinamico(sArquivo,sParametros,sIdDivInsert=false,reload=false){

        if (sIdDivInsert)
            var oDiv = document.getElementById(sIdDivInsert);

        sArquivo = sArquivo + '/' + sParametros;
        $.ajax({
            dataType: "html",
            type: "GET",
            url: sArquivo,
            beforeSend: function(){
                if (oDiv)
                    oDiv.innerHTML ="<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>";
            },
            error: function(oXMLRequest,sErrorType){
                console.log(sArquivo);
                console.log(oXMLRequest.responseText);
                console.log(oXMLRequest.status+' , '+sErrorType);
            },
            success: function(data){
                if (oDiv)
                    oDiv.innerHTML = data;
                if (reload)
                    setTimeout(function(){
                        window.location.reload();
                    });
            }
        });
    }

</script>