<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Lista de Usuários</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/admin/users">Usuários</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/users/create" class="btn btn-success">Cadastrar</a>
                        <a href="/admin/users/inativos" class="btn btn-warning">Inativos</a>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>CPF</th>
                                <th style="width: 60px">Perfil</th>
                                <th style="width: 140px">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {$sum = 1}
                            {loop="$voUser"}
                            <tr>
                                <td>{$sum}{$sum += 1}</td>
                                <td>{$value.PessoaNome}</td>
                                <td>{$value.Email}</td>
                                <td>{$value.Cpf}</td>
                                <td>{$value.UserRole}</td>
                                <td>
                                    <a href="/admin/users/{$value.UserId}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                                    {if="$value.UserAtivo==1"}
                                    <a href="/admin/users/{$value.UserId}/lock" onclick="return confirm('Deseja realmente desativar este usuário?')" class="btn btn-warning btn-sm"><i class="fa fa-lock"></i></a>
                                    {else}
                                    <a href="/admin/users/{$value.UserId}/unlock" onclick="return confirm('Deseja realmente ativar este usuário?')" class="btn btn-warning btn-sm"><i class="fa fa-unlock"></i></a>
                                    {/if}
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}