<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Lista de Usuários</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/users">Usuários</a></li>
            <li class="active"><a href="/admin/users/create">Cadastrar</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Novo Usuário</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form form-horizontal" role="form" action="/admin/users/create" method="post">
                        <div class="box-body">

                            <div class="form-group">

                                <div class="col-md-3">
                                    <label class="control-label" for="Nome">Nome</label>
                                    <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Digite o nome" autofocus>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="Cpf">CPF</label>
                                    <input type="tel" class="form-control" id="Cpf" name="Cpf" placeholder="Apenas números">
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="Email">E-mail</label>
                                    <input type="tel" class="form-control" id="Email" name="Email" placeholder="Digite o E-mail">
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" for="Role">Perfil</label>
                                    <select class="form-control" name="UserRoleId" id="Role">
                                        <option value="">Selecione..</option>
                                        {loop="$voRole"}
                                        <option value="{$value.user_role_id}">{$value.descricao}</option>
                                        {/loop}
                                    </select>
                                </div>

                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{include="script"}