{include="credit"}
<div class="container-fluid">

    <!-- Begin Row -->
    <div class="row">

        <div class="col-12">
            <!-- Begin Invoice -->
            <div class="invoice has-shadow">
                <!-- Begin Invoice Container -->
                <div class="invoice-container">
                    <!-- Begin Invoice Top -->
                    <div class="invoice-top">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-12">
                                <h1>{$oInscricao.EveNome}</h1>
                                <span>R$ {function="formatPrice($oInscricao.EveValor)"}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Invoice Top -->
                    <!-- Begin Invoice Header -->
                    <div class="invoice-header">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-2 col-md-2 col-sm-12 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                                <div class="invoice-logo">
                                    <img src="/res/admin2/assets/img/logo.png" alt="logo">
                                    <img src="/res/admin/dist/img/site_seguro_verde.png" alt="logo">
                                </div>
                            </div>
                            <div class="col-xl-5 col-md-5 col-sm-6">
                                <div class="details">
                                    <ul>
                                        <li class="company-name">ACCURSOS</li>
                                        <li>Campina Grande - PB</li>
                                        <li>(83) 99600-1835</li>
                                        <li>Email: accursoscontato@hotmail.com</li>
                                        <li>www.accursoseconsultoria.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5 col-md-5 col-sm-6">
                                <div class="client-details">
                                    <ul>
                                        <li class="title">{$oInscricao.PfiNome}</li>
                                        <li>{$oInscricao.EndRua}, {$oInscricao.EndNumero}</li>
                                        <li>{$oInscricao.EndBairro}, {$oInscricao.EndCidade} - {$oInscricao.EndEstado}</li>
                                        <li>{$oInscricao.EndCep}</li>
                                        <li>Telefone: ({$oInscricao.TelDdd}) {$oInscricao.TelNumero}</li>
                                        <li>Email: {$oInscricao.PesEmail}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Invoice Header -->
                    <form name="formPagamento" action="" id="formPagamento" class="form-horizontal">
                        <div class="col-md-12">
                            <div class="" id="msg" style="text-align: center;"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="" id="load" style="text-align: center"></div>
                        </div>
                        <div class="row" id="corpo">

                            <!-- Itens do pagamento (ao menos um item é obrigatório) -->
                            <input type="hidden" name="ItemId" value="{$oInscricao.EveId}">
                            <input type="hidden" name="ItemDescription" value="{$oInscricao.EveNome}">
                            <input type="hidden" name="ItemAmount" id="ItemAmount" value="{$oInscricao.EveValor}">
                            <input type="hidden" name="ItemQuantity" value="1">
                            <input type="hidden" name="EveId" value="{$oInscricao.EveId}">
                            <input type="hidden" name="EviId" value="{$oInscricao.EviId}">

                            <!-- Informações de frete (opcionais) -->
                            <input type="hidden" name="ShippingType" value="1">
                            <input type="hidden" name="ShippingAddressPostalCode" value="{$oInscricao.EndCep}">
                            <input type="hidden" name="ShippingAddressStreet" value="{$oInscricao.EndRua}">
                            <input type="hidden" name="ShippingAddressNumber" value="{$oInscricao.EndNumero}">
                            <input type="hidden" name="ShippingAddressComplement" value="{$oInscricao.EndComplemento}">
                            <input type="hidden" name="ShippingAddressDistrict" value="{$oInscricao.EndBairro}">
                            <input type="hidden" name="ShippingAddressCity" value="{$oInscricao.EndCidade}">
                            <input type="hidden" name="ShippingAddressState" value="{$oInscricao.EndEstado}">
                            <input type="hidden" name="ShippingAddressCountry" value="BRA">

                            <!-- Dados do comprador (opcionais) -->
                            <input type="hidden" name="SenderName" value="{$oInscricao.PfiNome}">
                            <input type="hidden" name="SenderAreaCode" value="{$oInscricao.TelDdd}">
                            <input type="hidden" name="SenderPhone" value="{$oInscricao.TelNumero}">
                            <input type="hidden" name="SenderEmail" value="{$oInscricao.PesEmail}">
                            <input type="hidden" name="SenderCpf" value="{$oInscricao.PfiCpf}">
                            <input type="hidden" name="SenderHash" id="SenderHash" value="">


                            <input type="hidden" name="CreditCardToken" id="CreditCardToken">
                            <input type="hidden" name="BandeiraCartao" id="BandeiraCartao">
                            <input type="hidden" name="InstallmentValue" id="InstallmentValue">

                            <input type="hidden" name="PaymentMethod" id="PaymentMethod" value="creditCard">

                            <div class="col-md-6 d-flex align-items-center">
                                <div id='payment' class='payment'>
                                    <div class='card'>
                                        <div class='card-content'>
                                            <div id="logo-card" class="bandeira-cartao"></div>
                                            <p>&nbsp;</p>
                                            <h6 id='label-titular'>TITULAR DO CARTÃO</h6>
                                            <h6 id='label-cardnumber'>0000 0000 0000 0000</h6>
                                            <h6 id='label-cardexpiration'>00 / 0000<span>000</span></h6>
                                        </div>
                                        <div class='wave'></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 padding-left-25 padding-right-25 padding-top-25">

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label" for="NumCartao">Número do Cartão<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-credit-card"></i>
                                            </span>
                                            <input type="text" class="form-control cartao" id="NumCartao" name="NumCartao" placeholder='1234 5678 9123 4567' title='Card Number' autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label" for="CreditCardHolderName">Titular do Cartão<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-user"></i>
                                            </span>
                                            <input type="text" class="form-control" id="CreditCardHolderName" name="CreditCardHolderName" placeholder='Como está gravado no cartão' title="Como está gravado no cartão" onkeyup="this.value = this.value.toUpperCase();" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="form-control-label" for="CardExpiration">Validade<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control formatCardExpiry" id="CardExpiration" name="CardExpiration" placeholder='MM/AAAA' title="Validade" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-control-label" for="CardCvv">Código de Segurança<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-google-wallet"></i>
                                            </span>
                                            <input type="text" class="form-control" id="CardCvv" name="CardCvv" placeholder="123" maxlength="4" title="Código de segurança" autocomplete="off" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form-control-label" for="InstallmentQuantity">Quantidade de Parcelas<span class="text-danger ml-2">*</span></label>
                                        <select name="InstallmentQuantity" id="InstallmentQuantity" class="form-control select-qnt-parcelas" required>
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class='card-form'>

                                <hr style="padding: 5px">
                                <h4 class="mb-3">Dados do titular do cartão</h4>
                                <hr style="padding: 5px">

                                <div class="row">

                                    <div class="col-md-4">
                                        <label for="CreditCardHolderCPF">CPF do dono do Cartão</label>
                                        <input type="text" class="form-control cpf" name="CreditCardHolderCPF" id="CreditCardHolderCPF" placeholder="Apenas números" autocomplete="off" value="013.626.212-00" required>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="CreditCardHolderBirthDate">Data de Nascimento</label>
                                        <input type="text" class="form-control date" name="CreditCardHolderBirthDate" id="CreditCardHolderBirthDate" placeholder="Somente Números" autocomplete="off" required>
                                    </div>

                                    <input type="hidden" class="form-control" name="Ddi" value="55">
                                    <input type="hidden" class="form-control" name="TipoId" value="1">

                                    <div class="col-md-2">
                                        <label class="form-control-label" for="CreditCardHolderAreaCode">DDD<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" id="CreditCardHolderAreaCode" name="CreditCardHolderAreaCode" placeholder="DDD" maxlength="2" onkeyup="somenteNumeros(this);" autocomplete="off" value="91" required>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-control-label" for="CreditCardHolderPhone">Telefone<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon addon-secondary">
                                                <i class="la la-phone"></i>
                                            </span>
                                            <input type="text" class="form-control" id="CreditCardHolderPhone" name="CreditCardHolderPhone" placeholder="Apenas números" maxlength="9" onkeyup="somenteNumeros(this);" autocomplete="off" value="989413333" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="form-control-label" for="EndCep">Cep<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="EndCep" name="EndCep" placeholder="Apenas números" maxlength="8" onkeyup="somenteNumeros(this);" autocomplete="off" value="66083109" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-control-label" for="EndRua">Rua<span class="text-danger ml-2">*</span></label>
                                        <input type="text" class="form-control" name="EndRua" id="EndRua" placeholder="Avenida, Rua, Travessa" disabled required>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-control-label" for="EndNumero">Número<span class="text-danger ml-2">*</span></label>
                                        <input type="text" class="form-control" name="EndNumero" id="EndNumero" placeholder="Num" autocomplete="off" disabled required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-control-label" for="EndComplemento">Complemento</label>
                                        <input type="text" class="form-control" name="EndComplemento" id="EndComplemento" placeholder="Apt, bloco" autocomplete="off" disabled>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-control-label" for="EndBairro">Bairro<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="EndBairro" id="EndBairro" placeholder="Bairro" disabled required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <label class="form-control-label" for="EndCidade">Cidade<span class="text-danger ml-2">*</span></label>
                                        <input type="text" class="form-control" name="EndCidade" id="EndCidade" placeholder="Cidade" disabled required>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-control-label" for="EndEstado">Estado<span class="text-danger ml-2">*</span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="EndEstado" id="EndEstado" placeholder="UF" disabled required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">

                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" name="btnComprar" id="btnComprar">FINALIZAR</button>
                                    </div>

                                </div>

                            </div>
                            <!-- End Card form -->
                        </div>
                        <!-- End Row -->
                    </form>
                    <!-- End Form -->
                </div>
                <!-- End Invoice Container -->
                <!-- Begin Invoice Footer -->
                <div class="invoice-footer">
                    <!-- Begin Invoice Container -->
                    <div class="invoice-container">
                        <div class="footer-bottom">
                            <div class="thx">
                                <i class="la la-heart"></i><span>Obrigado!</span>
                            </div>
                            <div class="website">www.accursoseconsultoria.com</div>
                        </div>
                    </div>
                    <!-- End Invoice Container -->
                </div>
                <!-- End Invoice Footer -->
            </div>
            <!-- End Invoice -->
        </div>
        <!-- End Col -->

    </div>
    <!-- End Row -->
</div>
<!-- End Container -->

{include="script"}
<!--<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>-->
 <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>

<script>
    document.getElementById("page-top").onload = function() {pagamento()};

    $(function() {

        $('#CreditCardHolderName',0).keyup(function() {
            $('#label-titular',0).empty().append($(this).val());
        });

        $('#NumCartao',0).keyup(function() {
            $('#label-cardnumber',0).empty().append($(this).val());
        });

        $('#CardExpiration',0).keyup(function() {
            let data = $(this).val() + '<span>' + $('#CardCvv', 0).val() + '</span>';
            $('#label-cardexpiration',0).empty().append(data);
        });

        $('#CardCvv',0).keyup(function() {
            let data = $('#CardExpiration', 0).val() + '<span>' + $(this).val() + '</span>';
            $('#label-cardexpiration',0).empty().append(data);
        });
    });

    function pagamento() {

        $.ajax({
            //URL completa do local do arquivo responsável em buscar o ID da sessão
            url: "/pagseguro/session",
            type: 'POST',
            dataType: 'json',
            success: function (retorno) {
                //ID da sessão retornada pelo PagSeguro
                PagSeguroDirectPayment.setSessionId(retorno.id);
            }
        });
    }

    //Receber os dados do formulário, usando o evento "keyup" para receber sempre que tiver alguma alteração no campo do formulário
    $('#NumCartao').on('keyup', function () {

        //Receber o número do cartão digitado pelo usuário
        let numCartao = $(this).val().replace(/ /g, "");

        //Contar quantos números o usuário digitou
        let qntNumero = numCartao.length;

        //Validar o cartão quando o usuário digitar 6 digitos do cartão
        if (qntNumero === 6) {

            //Instanciar a API do PagSeguro para validar o cartão
            PagSeguroDirectPayment.getBrand({
                cardBin: numCartao,
                success: function (retorno) {
                    $("#msg").empty();

                    //Enviar para o index a imagem da bandeira
                    let imgBand = retorno.brand.name;
                    $('.bandeira-cartao').html("<img alt='Cartão "+imgBand+"' src='https://stc.pagseguro.uol.com.br/public/img/payment-methods-flags/68x30/" + imgBand + ".png'>");
                    $('#BandeiraCartao').val(imgBand);
                    recupParcelas(imgBand);
                    $("#btnComprar").show();
                },
                error: function () {
                    //Enviar para o index a mensagem de erro
                    $('.bandeira-cartao').empty();
                    $("#msg").attr("class","alert alert-danger").text('Cartão inválido!');
                    $('#btnComprar').hide();
                }
            });
        }
    });

    //Recuperar a quantidade de parcelas e o valor das parcelas no PagSeguro
    function recupParcelas(bandeira) {
        let amount = $('#ItemAmount').val();
        $("#InstallmentQuantity").html('<option value="">Selecione</option>');
        PagSeguroDirectPayment.getInstallments({
            //Valor do produto
            amount: amount,
            //Quantidade de parcelas sem juros
            maxInstallmentNoInterest: 3,
            //Tipo da bandeira
            brand: bandeira,
            success: function (retorno) {
                $("#formPagamento :input").prop("disabled",false);
                $.each(retorno.installments, function (ia, obja) {
                    $.each(obja, function (ib, objb) {

                        //Converter o preço para o formato real com JavaScript
                        let valorParcela = objb.installmentAmount.toFixed(2).replace(".", ",");

                        //Acrecentar duas casas decimais apos o ponto
                        let valorParcelaDouble = objb.installmentAmount.toFixed(2);
                        //Apresentar quantidade de parcelas e o valor das parcelas para o usuário no campo SELECT
                        if(objb.quantity <= 3)
                            $('#InstallmentQuantity').show().append("<option value='" + objb.quantity + "' data-parcelas='" + valorParcelaDouble + "'>" + objb.quantity + " parcelas de R$ " + valorParcela + "</option>");
                    });
                });
            },
            error: function (retorno) {
                console.log(retorno);
                $("#formPagamento :input").prop("disabled",true);
                $("#NumCartao").attr("disabled",false);
                $("#msg").attr("class","alert alert-danger").text('Erro ao listar parcelas!');
                // callback para chamadas que falharam.
            },
            complete: function (retorno) {
                // Callback para todas chamadas.
            }
        });
    }

    //Enviar o valor parcela para o formulário
    $('#InstallmentQuantity').change(function () {
        $('#InstallmentValue').val($('#InstallmentQuantity').find(':selected').attr('data-parcelas'));
    });

    //Recuperar o token do cartão de crédito
    $("#formPagamento").on("submit", function (event) {
        event.preventDefault();
        let paymentMethod = $("#PaymentMethod").val();

        if (paymentMethod === 'creditCard') {

            let expiration = $('#CardExpiration').val().split("/");

            PagSeguroDirectPayment.createCardToken({
                cardNumber: $('#NumCartao').val().replace(/\D/g, ''), // Número do cartão de crédito
                brand: $('#BandeiraCartao').val(), // Bandeira do cartão
                cvv: $('#CardCvv').val(), // CVV do cartão
                expirationMonth: expiration[0], // Mês da expiração do cartão
                expirationYear: expiration[1], // Ano da expiração do cartão, é necessário os 4 dígitos.
                success: function (retorno) {
                    $('#CreditCardToken').val(retorno.card.token);
                    recupHashCartao();
                },
                error: function (retorno) {
                    // Callback para chamadas que falharam.
                    console.log(retorno);
                    $("#msg").attr("class","alert alert-danger").html('Erro ao realizar a transação. Tente novamente.<br>' + retorno['error']['code'] + ': ' + retorno['error']['message']);
                },
                complete: function (retorno) {
                    // Callback para todas chamadas.
                }
            });
        } else if (paymentMethod === 'boleto') {
            recupHashCartao();
        } else if (paymentMethod === 'eft') {
            recupHashCartao();
        }

    });

    //Recuperar o hash do cartão
    function recupHashCartao() {

        PagSeguroDirectPayment.onSenderHashReady(function (retorno) {
            if (retorno.status === 'error') {
                console.log(retorno.message);
                return false;
            } else {
                $("#SenderHash").val(retorno.senderHash);
                let dados = $("#formPagamento").serialize();

                $.ajax({
                    method: "POST",
                    url: "/pagseguro/pagamento",
                    data: dados,
                    dataType: 'json',
                    beforeSend: function () {
                        $("#corpo").remove();
                        $("#load").html('<img src="/res/admin/dist/img/load.gif" alt="">');
                    },
                    success: function (retorno) {
                        console.log(retorno);
                        // console.log(retorno['error']);
                        if (retorno['error']){
                            $("#msg").attr("class","alert alert-danger").html('Erro ao realizar a transação. Tente novamente.<br>' + retorno['error']['code'] + ': ' + retorno['error']['message']);
                        }else{
                            $("#msg").attr("class","alert alert-" + retorno['sClass']).text(retorno['sMsg']);
                        }
                        $("#load").remove();
                    },
                    error: function (retorno) {
                        $("#msg").attr("class","alert alert-danger").html('Erro ao realizar a transação. Atualize a página e tente novamente.<br> <strong>Nenhum valor foi debitado de seu cartão.</strong>');
                        $("#load").remove();
                    }
                });
            }
        });
    }

</script>