<!-- Begin Page Footer-->
<footer class="main-footer fixed-footer">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
            <p class="text-gradient-02"> &copy; 2020 AcCursos. Todos os direitos reservados. Desenvolvido por <a href="http://albertreis.com" target="_blank" style="display: contents">Albert Reis</a></p>
        </div>

    </div>
</footer>

<!-- End Page Snippets -->
</body>
</html>