<style>
    .step-wizard li {
        width: 50% !important;
    }
</style>

<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">

    <div class="row flex-row">
        <div class="col-xl-12">
            <!-- Form -->
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h4>Realizar Inscrição</h4>
                </div>
                <div class="widget-body">
                    <div class="row flex-row justify-content-center">
                        <div class="col-xl-10">
                            {if="$bInscricao"}
                            <form action="/inscricao/save" method="post" id="rootwizard">
                                <input type="hidden" name="EveId" id="EveId" value="{$oEvento.EveId}">

                                <div class="step-container">
                                    <div class="step-wizard">
                                        <div class="progress">
                                            <div class="progressbar"></div>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#tab1" data-toggle="tab">
                                                    <span class="step">1</span>
                                                    <span class="title">Passo 1</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab2" data-toggle="tab">
                                                    <span class="step">2</span>
                                                    <span class="title">Passo 2</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                {if="$vError.sMsg != ''"}
                                <div class="alert alert-danger">
                                    {$vError.sMsg}
                                </div>
                                {/if}

                                <div class="tab-content">
                                    <div class="tab-pane" id="tab1">
                                        <div class="section-title mt-5 mb-5">
                                            <h4>Dados Pessoais</h4>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <div class="col-xl-5 mb-3">
                                                <label class="form-control-label" for="PfiNome">Nome<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" id="PfiNome" name="PfiNome" placeholder="Digite o nome" maxlength="100" value="{$vDados.PfiNome}" required>
                                            </div>

                                            <div class="col-xl-3">
                                                <label class="form-control-label" for="PfiSexo">Sexo<span class="text-danger ml-2">*</span></label>
                                                <select class="custom-select form-control" name="PfiSexo" id="PfiSexo" required>
                                                    <option value="">Selecione...</option>
                                                    <option value="F" {if="$vDados.PfiSexo=='F'"}selected{/if}>Feminino</option>
                                                    <option value="M" {if="$vDados.PfiSexo=='M'"}selected{/if}>Masculino</option>
                                                </select>
                                            </div>

                                            <div class="col-xl-4">
                                                <label class="form-control-label" for="PfiCpf">CPF<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" id="PfiCpf" name="PfiCpf" placeholder="Apenas números" value="{$vDados.PfiCpf}" onkeyup="somenteNumeros(this);" minlength="11" maxlength="11" required>
                                            </div>

                                        </div>

                                        <div class="form-group row mb-5">
                                            <input type="hidden" class="form-control" name="TelDdi" value="55">
                                            <input type="hidden" class="form-control" name="TtiId" value="1">

                                            <div class="col-xl-2 mb-3">
                                                <label class="form-control-label" for="TelDdd">DDD<span class="text-danger ml-2">*</span></label>
                                                <div class="input-group">
                                                        <span class="input-group-addon addon-secondary">
                                                            <i class="la la-phone"></i>
                                                        </span>
                                                    <input type="text" class="form-control" id="TelDdd" name="TelDdd" placeholder="DDD" maxlength="2" value="{$vDados.TelDdd}" onkeyup="somenteNumeros(this);" required>
                                                </div>
                                            </div>

                                            <div class="col-xl-4 mb-3">
                                                <label class="form-control-label" for="TelNumero">Telefone<span class="text-danger ml-2">*</span></label>
                                                <div class="input-group">
                                                        <span class="input-group-addon addon-secondary">
                                                            <i class="la la-phone"></i>
                                                        </span>
                                                    <input type="text" class="form-control" id="TelNumero" name="TelNumero" placeholder="Apenas números" maxlength="9" value="{$vDados.TelNumero}" onkeyup="somenteNumeros(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="PesEmail">Email<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" id="PesEmail" name="PesEmail" placeholder="Digite o email" value="{$vDados.PesEmail}" required>
                                            </div>
                                        </div>

                                        <ul class="pager wizard text-right">
                                            <li class="next d-inline-block">
                                                <a href="javascript:;" class="btn btn-gradient-01">Avançar</a>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="tab-pane" id="tab2">
                                        <div class="section-title mt-5 mb-5">
                                            <h4>Endereço</h4>
                                        </div>

                                        <div class="form-group row mb-5">
                                            <div class="col-xl-3">
                                                <label class="form-control-label" for="EndCep">Cep<span class="text-danger ml-2">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="EndCep" name="EndCep" placeholder="Apenas números" value="{$vDados.EndCep}" maxlength="8" onkeyup="somenteNumeros(this);" required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="EndRua">Rua<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" name="EndRua" id="EndRua" placeholder="Avenida, Rua, Travessa" value="{$vDados.EndRua}" disabled required>
                                            </div>

                                            <div class="col-xl-3">
                                                <label class="form-control-label" for="EndNumero">Número<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" name="EndNumero" id="EndNumero" placeholder="Num" value="{$vDados.EndNumero}" disabled required>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-5">
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="EndComplemento">Complemento</label>
                                                <input type="text" class="form-control" name="EndComplemento" id="EndComplemento" placeholder="Apt, bloco" value="{$vDados.EndComplemento}" disabled>
                                            </div>

                                            <div class="col-xl-6 mb-3">
                                                <label class="form-control-label" for="EndBairro">Bairro<span class="text-danger ml-2">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="EndBairro" id="EndBairro" placeholder="Bairro" value="{$vDados.EndBairro}" disabled required>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <label class="form-control-label" for="EndCidade">Cidade<span class="text-danger ml-2">*</span></label>
                                                <input type="text" class="form-control" name="EndCidade" id="EndCidade" placeholder="Cidade" value="{$vDados.EndCidade}" disabled required>
                                            </div>

                                            <div class="col-xl-6 mb-3">
                                                <label class="form-control-label" for="EndEstado">Estado<span class="text-danger ml-2">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="EndEstado" id="EndEstado" placeholder="UF" value="{$vDados.EndEstado}" disabled required>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="pager wizard text-right">
                                            <li class="previous d-inline-block">
                                                <a href="javascript:void(0)" class="btn btn-secondary ripple">Voltar</a>
                                            </li>
                                            <li class="next d-inline-block">
                                                <button type="submit" class="btn btn-gradient-01 finish" id="finish">Finalizar</button>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                            </form>
                            {else}
                            <div class="alert alert-warning">
                                Inscrições encerradas!
                            </div>
                            <a href="/" class="btn btn-default">Voltar ao site</a>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include="script"}