<!-- Begin Vendor Js -->
<!--suppress JSUnresolvedVariable -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='/res/admin2/assets/vendors/js/jquery-payment.js'></script>
<script src="/res/admin2/assets/vendors/js/base/core.min.js"></script>
<!-- End Vendor Js -->

<!-- Begin Page Vendor Js -->
<script src="/res/admin2/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
<script src="/res/admin2/assets/vendors/js/bootstrap-wizard/bootstrap.wizard.min.js"></script>
<script src="/res/admin2/assets/vendors/js/app/app.min.js"></script>
<script src="/res/admin2/assets/vendors/js/bootstrap-select/bootstrap-select.min.js"></script>
<!-- End Page Vendor Js -->

<script src="/res/admin2/assets/js/components/wizard/form-wizard.min.js" type="2e90c787f8c409ce093257aa-text/javascript"></script>

<script type="text/javascript" src="/vendor/igorescobar/jquery-mask-plugin/src/jquery.mask.js"></script>

<!-- Begin Page Snippets -->

<script type="text/javascript">
    $(document).ready(function () {
        let url = window.location;
        let element = $('ul.sidebar-menu a').filter(function () {
            return this.href === url || url.href.indexOf(this.href) === 0;
        });
        $(element).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
    });

    $(document).ready(function() {


        $('#rootwizard').bootstrapWizard({
            onNext: function(tab, navigation, index) {
                if(index === 1) {
                    if(!$('#PfiNome',0).val()) {
                        alert('Preencha seu Nome corretamente!');
                        $('#PfiNome').focus();
                        return false;
                    }
                    if(!$('#PfiSexo',0).val()) {
                        alert('Selecione o sexo!');
                        $('#PfiSexo').focus();
                        return false;
                    }
                    if(!$('#TelDdd',0).val()) {
                        alert('preencha o ddd do telefone!');
                        $('#TelDdd').focus();
                        return false;
                    }
                    if(!$('#TelNumero',0).val()) {
                        alert('Preencha o telefone corretamente!');
                        $('#TelNumero').focus();
                        return false;
                    }
                    if(!$('#PesEmail',0).val()) {
                        alert('Preencha o email corretamente!');
                        $('#PesEmail').focus();
                        return false;
                    }
                }

                if(index === 2) {
                    if(!$('#EndCep',0).val()) {
                        alert('Preencha o campo cep corretamente!');
                        $('#EndCep').focus();
                        return false;
                    }
                    if(!$('#EndRua',0).val()) {
                        alert('Preencha o campo rua corretamente!');
                        $('#EndRua').focus();
                        return false;
                    }
                    if(!$('#EndNumero',0).val()) {
                        alert('Preencha o campo número corretamente!');
                        $('#EndNumero').focus();
                        return false;
                    }
                    if(!$('#EndBairro',0).val()) {
                        alert('Preencha o campo bairro corretamente!');
                        $('#EndBairro').focus();
                        return false;
                    }
                    if(!$('#EndCidade',0).val()) {
                        alert('Preencha o campo cidade corretamente!');
                        $('#EndCidade').focus();
                        return false;
                    }
                    if(!$('#EndEstado',0).val()) {
                        alert('Preencha o campo estado corretamente!');
                        $('#EndEstado',0).focus();
                        return false;
                    }
                }

            },

            onTabClick: function () {
                return false;
            }


        });
    });

    $(document).ready(function() {

        function limpa_formulario_cep() {
            // Limpa valores do formulário de cep.
            $("#EndRua").val("");
            $("#EndBairro").val("");
            $("#EndCidade").val("");
            $("#EndEstado").val("");
        }

        //Quando o campo cep perde o foco.
        $("#EndCep").blur(function() {

            //Nova variável "cep" somente com dígitos.
            let cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep !== "") {

                //Expressão regular para validar o CEP.
                let validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if(validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#EndRua").val("...");
                    $("#EndBairro").val("...");
                    $("#EndCidade").val("...");
                    $("#EndEstado").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#EndRua",0).val(dados["logradouro"]);
                            $("#EndBairro",0).val(dados["bairro"]);
                            $("#EndCidade",0).val(dados["localidade"]);
                            $("#EndEstado",0).val(dados["uf"]);

                            $("#EndRua",0).attr("disabled",false);
                            $("#EndNumero",0).attr("disabled",false);
                            $("#EndComplemento",0).attr("disabled",false);
                            $("#EndBairro",0).attr("disabled",false);
                            $("#EndCidade",0).attr("disabled",false);
                            $("#EndEstado",0).attr("disabled",false);

                            $('#EndNumero',0).focus();
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulario_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulario_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulario_cep();
            }
        });
    });

    function somenteNumeros(num) {
        let er = /[^0-9]/;
        er.lastIndex = 0;
        let campo = num;
        if (er.test(campo.value)) {
            campo.value = "";
        }
    }

    function recuperaConteudoDinamico(sArquivo,sParametros,sIdDivInsert=false,reload=false){

        if (sIdDivInsert)
            var oDiv = document.getElementById(sIdDivInsert);

        sArquivo = sArquivo + '/' + sParametros;
        $.ajax({
            dataType: "html",
            type: "GET",
            url: sArquivo,
            beforeSend: function(){
                if (oDiv)
                    oDiv.innerHTML ="<p style='text-align: center'><img src='/res/admin/dist/img/load.gif' alt='Load' style='width: 80px'></p>";
            },
            error: function(oXMLRequest,sErrorType){
                console.log(sArquivo);
                console.log(oXMLRequest.responseText);
                console.log(oXMLRequest.status+' , '+sErrorType);
            },
            success: function(data){
                if (oDiv)
                    oDiv.innerHTML = data;
                if (reload)
                    setTimeout(function(){
                        window.location.reload();
                    });
            }
        });
    }

    $(document,0,0).ready(function(){
        $('.date',0,0).mask('00/00/0000');
        $('.time',0,0).mask('00:00:00');
        $('.date_time',0,0).mask('00/00/0000 00:00:00');
        $('.cep',0,0).mask('00000-000');
        $('.phone',0,0).mask('0000-0000');
        $('.phone_with_ddd',0,0).mask('(00) 0000-0000');
        $('.phone_us',0,0).mask('(000) 000-0000');
        $('.mixed',0,0).mask('AAA 000-S0S');
        $('.cpf',0,0).mask('000.000.000-00', {reverse: true});
        $('.cartao',0,0).mask('0000 0000 0000 0000');
        $('.formatCardExpiry',0,0).mask('00/0000');
        $('.cnpj',0,0).mask('00.000.000/0000-00', {reverse: true});
        $('.money',0,0).mask('000.000.000.000.000,00', {reverse: true});
        $('.money2',0,0).mask("#.##0,00", {reverse: true});
        $('.ip_address',0,0).mask('099.099.099.099');
        $('.percent',0,0).mask('##0,00%', {reverse: true});
        $('.clear-if-not-match',0,0).mask("00/00/0000", {clearIfNotMatch: true});
        $('.placeholder',0,0).mask("00/00/0000", {placeholder: "__/__/____"});
        $('.selectonfocus',0,0).mask("00/00/0000", {selectOnFocus: true});
    });
</script>