{include="credit"}
<div class="container-fluid">

    <!-- Begin Row -->
    <div class="row">

        <div class="col-12">
            <!-- Begin Invoice -->
            <div class="invoice has-shadow">
                <!-- Begin Invoice Container -->
                <div class="invoice-container">
                    <!-- Begin Invoice Top -->
                    <div class="invoice-top">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                                <h1>{$oInscricao.EveNome}</h1>
                                <span>R$ {function="formatPrice($oInscricao.EveValor)"}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Invoice Top -->
                    <!-- Begin Invoice Header -->
                    <div class="invoice-header">
                        <div class="alert alert-success">
                            <h4><i class="icon fa fa-check"></i> Sucesso!</h4>Inscrição realizada com sucesso!
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-2 col-md-2 col-sm-12 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                                <div class="invoice-logo">
                                    <img src="/res/admin2/assets/img/logo.png" alt="logo">
                                    <img src="/res/admin/dist/img/site_seguro_verde.png" alt="logo">
                                </div>
                            </div>
                            <div class="col-xl-5 col-md-5 col-sm-6">
                                <div class="details">
                                    <ul>
                                        <li class="company-name">ACCURSOS</li>
                                        <li>Campina Grande - PB</li>
                                        <li>(83) 99600-1835</li>
                                        <li>Email: accursoscontato@hotmail.com</li>
                                        <li>www.accursoseconsultoria.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5 col-md-5 col-sm-6">
                                <div class="client-details">
                                    <ul>
                                        <li class="title">{$oInscricao.PfiNome}</li>
                                        <li>{$oInscricao.EndRua}, {$oInscricao.EndNumero}</li>
                                        <li>{$oInscricao.EndBairro}, {$oInscricao.EndCidade} - {$oInscricao.EndEstado}</li>
                                        <li>{$oInscricao.EndCep}</li>
                                        <li>Telefone: ({$oInscricao.TelDdd}) {$oInscricao.TelNumero}</li>
                                        <li>Email: {$oInscricao.PesEmail}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr>
                                <p><b>Curso:</b><br>Aprovada</p>
                                <p><b>Status:</b><br>Aprovada</p>
                                <p><b>Valor do pagamento:</b><br>Aprovada</p>
                                <p><b>Código da transação:</b><br>Aprovada</p>
                            </div>

                        </div>

                    </div>
                    <!-- End Invoice Header -->
                </div>
                <!-- End Invoice Container -->
                <!-- Begin Invoice Footer -->
                <div class="invoice-footer">
                    <!-- Begin Invoice Container -->
                    <div class="invoice-container">
                        <div class="footer-bottom">
                            <div class="thx">
                                <i class="la la-heart"></i><span>Obrigado!</span>
                            </div>
                            <div class="website">www.accursoseconsultoria.com</div>
                        </div>
                    </div>
                    <!-- End Invoice Container -->
                </div>
                <!-- End Invoice Footer -->
            </div>
            <!-- End Invoice -->
        </div>
        <!-- End Col -->

    </div>
    <!-- End Row -->
</div>
<!-- End Container -->

{include="script"}
<script>
    document.getElementById("page-top").onload = function() {pagamento()};
</script>