<!-- Begin Page Footer-->
<footer class="main-footer fixed-bottom">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
            <p class="text-gradient-02"> &copy; 2019 AcCursos. Todos os direitos reservados. Desenvolvido por <a href="http://albertreis.com" target="_blank" style="display: contents">Albert Reis</a></p>
        </div>

    </div>
</footer>

<script>
    function FormataData(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace("/", "");
        tam = vr.length + 1;
        if (tecla != 8)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + '/';
            if (tam == 5)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/';
            if (tam == 11)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/' + vr.substr(6, 4);
        }
    }

    function FormataHora(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace(":", "");
        tam = vr.length + 1;
        if (tecla != 4)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + ':';
        }
    }

    function FormataMoney(i) {
        var v = i.value.replace(/\D/g,'');
        v = (v/100).toFixed(2) + '';
        v = v.replace(".", ",");
        v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
        v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
        i.value = v;
    }

</script>

<!-- End Page Snippets -->
</body>
</html>