<div class="container-fluid">
    <!-- Begin Page Header-->
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Bem vindo</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="ti ti-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Begin Row -->
    <div class="row flex-row">

        <div class="col-md-6">
            <div class="widget widget-18 has-shadow">
                <!-- Begin Widget Header -->
                <div class="widget-header bordered d-flex align-items-center">
                    <h2>Inscrições</h2>
                </div>
                <!-- End Widget Header -->
                <div class="widget-body">
                    <ul class="list-group">
                        {loop="$voInscricoes"}
                        <li class="list-group-item">
                            <div class="other-message">
                                <div class="media">
                                    <div class="media-left align-self-center mr-3">
                                        <img src="/res/admin/assets/img/avatar/avatar-02.jpg" alt="..." class="img-fluid rounded-circle" style="width: 50px;">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <button class="btn btn-sm btn-{$value.SitLabel}">{$value.SitDescricao}</button>
                                        {if="$value.EventoArtigo == 1"}

                                        {if="$value.ArtigoID == null"}
                                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#artigo" data-inscricao-id="{$value.InscricaoId}" data-evento-nome="{$value.EventoTema}" data-evento-id="{$value.EventoId}">Enviar Artigo</button>
                                        {else}
                                        <a class="btn btn-sm btn-success" href='{function="urlArtigoPorEventoPessoa($value.EventoId)"}' target="_blank">Exibir Artigo</a>
                                        {/if}
                                        {/if}

                                        <div class="other-message-sender">{$value.EventoTema}</div>
                                        <div class="other-message-time">{$value.PalestranteTitulo} {$value.PalestranteNome}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- End Row -->
</div>
<!-- End Container -->

<!-- Enviar Artigo -->
<div class="modal fade" id="artigo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enviar Artigo</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">fechar</span>
                </button>
            </div>
            <div class="modal-body">

                <form role="form" id="formPgto" action="/aluno/artigo" method="post" enctype="multipart/form-data">

                    <input type="hidden" class="form-control" id="InscricaoId" name="InscricaoId" value="">
                    <input type="hidden" class="form-control" id="EventoId" name="EventoId" value="">
                    <input type="hidden" class="form-control" id="EventoNome" name="EventoNome" value="">

                    <div class="modal-body">

                        <div class="form-group row">

                            <div class="col-xl-12">
                                <label class="form-control-label" for="Titulo">Título<span class="text-danger ml-2">*</span></label>
                                <input type="text" class="form-control" id="Titulo" name="Titulo" placeholder="Título">
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-xl-12">
                                <label class="form-control-label" for="Arquivo">Arquivo<span class="text-danger ml-2">*</span></label>
                                <input type="file" class="" id="arquivo" name="arquivo">
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Salvar" name="Editar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $('#artigo',0,0,0,0).on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget, 0, 0, 0, 0);
        let nInscricaoId = button.data('inscricao-id');
        let nEventoId = button.data('evento-id');
        let sEventoNome = button.data('evento-nome');
        let modal = $(this,0,0,0,0);
        modal.find('#InscricaoId').val(nInscricaoId);
        modal.find('#EventoId').val(nEventoId);
        modal.find('#EventoNome').val(sEventoNome);
    })
</script>