<div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner"><div class="wpb_wrapper"></div>
    </div>
</div>

<div class="vc_row-full-width vc_clearfix"></div>

<footer id="zoo-footer" class="wrap-default-layout">

    <div id="bottom-footer" class="footer-block">
        <div class="container">
            <div class="bottom-footer-container">
                <div class="row">
                    <div id="copyright" class="col-xs-12 col-sm-6">
                        © {function="getAnoAtual()"} AcCursos. Todos os direitos reservados. CNPJ: 27.825.406/0001-60
                    </div>
                    <div class="col-xs-12 col-sm-6 bottom-footer-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-to-top"><i class="fa fa-angle-up"></i></div><!-- #back-to-top -->
</footer>

<script>
    ( function ( body ) {
        'use strict';
        body.className = body.className.replace( /\btribe-no-js\b/, 'tribe-js' );
    } )( document.body );
</script>

<script type="text/javascript">
    function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
        jQuery(sliderID).show().html(errorMessage);
    }
</script>



</main>
</div>
</body>
</html>