<div class="wrap-breadcrumb">
    <div class="container">
        <div class="zoo-breadcrumb-container">
            <span>
                <a class="zoo-breadcrumb-url zoo-breadcrumb-home" href="https://accursoseconsultoria.com/">AC Cursos</a>
            </span>
            <span role="presentation" class="zoo-breadcrumb-separator"> <i class="fa fa-angle-right"></i></span>
            <span>Institucional</span>
        </div>
    </div>
</div>

<main id="main" class="single-page" role="main">

    <div class="container">
        <h1 class="entry-title">Institucional</h1>
        <div class="wp-block-image">
            <figure class="alignright is-resized"><img src="https://accursoseconsultoria.com/wp-content/uploads/2019/02/Angela-Carvalho.jpg" alt="" class="wp-image-3277" width="317" height="493" srcset="https://accursoseconsultoria.com/wp-content/uploads/2019/02/Angela-Carvalho.jpg 407w, https://accursoseconsultoria.com/wp-content/uploads/2019/02/Angela-Carvalho-193x300.jpg 193w, https://accursoseconsultoria.com/wp-content/uploads/2019/02/Angela-Carvalho-299x465.jpg 299w, https://accursoseconsultoria.com/wp-content/uploads/2019/02/Angela-Carvalho-257x400.jpg 257w" sizes="(max-width: 317px) 100vw, 317px" /></figure>
        </div>

        <ul>
            <li>
                <strong>QUEM SOMOS</strong>
            </li>
        </ul>
        <p>Somos uma empresa educacional que colabora na construção do saber teórico/prático de acadêmicos e profissionais de diversas áreas, que buscam excelência na sua área de atuação.<br></p>
        <ul><li> <strong>MISSÃO</strong></li></ul>
        <p>Atrair, satisfazer e fidelizar acadêmicos e profissionais, consolidando-se como uma empresa fomentadora de conhecimentos, fundamentada na qualidade, na ética, no profissionalismo e na busca do crescimento individual e coletivo.</p>
        <ul><li><strong>VISÃO</strong></li></ul>
        <p>Solidificar a marca AC Cursos e sermos reconhecida como a melhor e mais eficiente empresa educacional a proporcionar aos seus clientes, uma excelente&nbsp;oportunidade de construir um diferencial na sua carreira profissional.<br></p>
        <ul><li><strong>VALORES</strong><ul><li>Comprometimento</li><li>Dedicação à Educação</li><li>Respeito ao nosso cliente, colaboradores e parceiros</li><li>Excelência e qualidade nos serviços oferecidos</li><li>Responsabilidade Social</li></ul></li></ul>
        <ul><li><strong>IDEALIZADORA</strong><ul><li>Empresária, Professora universitária e Palestrante </li><li>Graduada em FISIOTERAPIA pela Universidade Estadual da Paraíba (UEPB)</li><li>Pós-Graduada em Saúde Pública, Fisioterapia Neurológica e Fisioterapia  Traumato-Ortopédica</li><li>Mestranda em Educação</li><li>Formação em Pilates Clássico Científico</li><li>Fisioterapeuta do município de  Campina Grande</li><li>Experiência como gestora na área de Saúde e Educação ( Rede Pública e Privada)</li><li>Delegada do Conselho Regional de Fisioterapia e Terapia Ocupacional</li><li> Conselheira do Conselho Municipal de Saúde/CG </li><li><strong>Experiência na área de Fisioterapia, Docência e Gestão</strong></li></ul></li></ul>
    </div>