<main id="main" class="single-page" role="main" style="background-color: #f5f5f5 !important">
    <div class="container">

        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper"></div>
                    {include="slide"}
                </div>
            </div>
        </div>

        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1573335730819 vc_row-has-fill">
            <div class="row">

                {loop="$voEvento"}

                <div class="col-md-3 course type-course">

                    <section class="course-content">
                        <section class="entry">
                            <div class="course-media">
                                <a href="" title="{$value.EveNome}">
                                    <img width="" height="" src="{$value.EveImagem}" class="woo-image thumbnail alignleft wp-post-image" alt="">
                                </a>
                                <div class="quick-view">
                                    <a class="btn sensei-quick-view" href="" data-course-id="3563">Detalhes</a>
                                </div>
                            </div><!-- .course-media -->
                            <div class="course-text">
                                <div class="course-header">
                                    <h3 class="course-title">
                                        <a href="">{$value.EveNome}</a>
                                    </h3>
                                </div><!-- .course-header -->

                                <div class="course-excerpt">
                                    {if="$value.EveFim < $dHoje"}
                                    <a type="button" class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-juicy-pink" disabled><i class="vc_btn3-icon fa fa-hand-pointer-o"></i>Inscrições Encerradas</a>
                                    {else}
                                    <a class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-icon-left vc_btn3-color-juicy-pink" href="/inscricao/{$value.EveId}" title=""><i class="vc_btn3-icon fa fa-hand-pointer-o"></i>Inscreva-se</a>
                                    {/if}
                                </div>

                                <div class="sensei-course-meta">

                                        <span class="course-price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">R$</span> {function="formatPrice($value.EveValor)"}</span>
                                            </ins>
                                        </span>

                                </div>
                            </div>
                        </section> <!-- section .entry -->
                    </section> <!-- section .course-content -->

                </div>

                {/loop}

            </div>
        </div>
    </div>
